<ion-view title="The ABC's">

    <ion-content>
    
        <div class="card">
            <img src="img/firstaidbanner.PNG"  style="width:100%;">
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">What to do</div>
            <div class="item item-text-wrap">
                
                <p><span class="number">1 </span> <b>STAY SAFE</b> don't venture into an unkown situation without first knowing if it is safe</p><br/>
                <p><span class="number">2 </span><b>STAY CALM</b> don't panic</p><br/>
                <p><span class="number">3 </span><b>TAKE CHARGE</b> be assertive, yet compassionate</p><br/>
                <p><span class="number">4 </span><b>LOOK</b> for witnesses and for what might have caused the illness of injury</p><br/>
                <p><span class="number">5 </span><b>DETERMINE</b> unresponsiveness and check for breathing</p><br/>
                <p><span class="number">6 </span><b>CHECK</b> for major bleeding and stop major bleeding</p><br/>
                <p><span class="number">7 </span><b>CALL 911 </b></p>
                
            </div>
        </div>
    
    
    
    </ion-content>


</ion-view>