<ion-view title="The ABC's">

    <ion-content>
    
        <div class="card">
            <img src="img/firstaidbanner.PNG"  style="width:100%;">
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">What to do</div>
            <div class="item item-text-wrap">
                
                <p>1. <b>STAY SAFE</b> don't venture into an unkown situation without first knowing if it is safe</p>
                <p>2. <b>STAY CALM</b> don't panic</p>
                <p>3. <b>TAKE CHARGE</b> be assertive, yet compassionate</p>
                <p>4. <b>LOOK</b> for witnesses and for what might have caused the illness of injury</p>
                <p>5. <b>DETERMINE</b> unresponsiveness and check for breathing</p>
                <p>6. <b>CHECK</b> for major bleeding and stop major bleeding</p>
                <p>7. <b>CALL 911 </b></p>
                
            </div>
        </div>
    
    
    
    </ion-content>


</ion-view>