<ion-view title="Adult Choking">
    
    <ion-content>
    
    <div class="card">
        
        <div class="item item-divider item-text-wrap card-divider text-center">Adult Choking (Airway Obstruction)</div>
        <div class="item item-text-wrap">
            
        <img src="img/choking.PNG" class="image-card padding-right padding-bottom" style="float:left">
        
        <p> An airway obstruction means that something is blocking a person’s airway, which prevents air from moving in and out of the lungs. A blockage can partially or completely obstruct the                 airflow, and this can occur either when the person is conscious or unconscious. An airway obstruction is referred to as “choking”.
        </p>
            
        
        </div>
        
    </div>
        
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">
        
        Signs and Symptoms of Choking
            
        </div>
        
        <div class="item item-text-wrap">
            
            <div class ="row">
            <div class="col"><p>• Visibly distressed</p></div>
            <div class="col"><p>• Suddenly unable to speak</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Unable to cough</p></div>
            <div class="col"><p>• Unable to breathe</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Wheezing or gasping</p></div>
            <div class="col"><p>• Casualty may grasp their throat which is the universal sign for choking</p></div>
            </div>

        </div>
        
    </div>
        
    <div class="card">
        <div class="item item-divider item-text-wrap text-center card-divider">
        First Aid for Adult Choking
        </div>
        
        <div class="item item-text-wrap">
            <p><b>1. Ask "Are you choking?"</b></p>
            <p>Call for help! Get someone to call 911!</p><br/>
            <p><b>2. Clear the obstruction</b></p>
            
                <div class="text-center item-text-wrap">
                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking1.PNG" class="image-card"><p>Give five back blows</p> </div>
                        <div class="col"><p>B.</p><img src="img/choking2.PNG" class="image-card"><p>Give five abdominal thrusts</p></div>
                    </div>
                </div>

                <div class="item text-center item-text-wrap"><h2 class="title">Option for pregnant:</h2>

                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking1.PNG" class="image-card"><p>Give five back blows</p> </div>
                        <div class="col"><p>B.</p><img src="img/choking3.PNG" class="image-card"><p>Give five chest thrusts</p></div>
                    </div>

                </div>

                <div class="text-center item-text-wrap"><h2 class="title"><br/>Other Options:</h2>

                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking4.PNG" class="image-card"><p>Seated chest thrusts</p> </div>
                        <div class="col"><p>B.</p><img src="img/choking5.PNG" class="image-card"><p>Seated chest thrusts</p></div>
                    </div>

                </div>

                 <div class="text-center item-text-wrap">

                    <div class="row">
                        <div class="col"><p>C.</p><img src="img/choking6.PNG" class="image-card"><p>Self-administered thrusts</p> </div>

                    </div>

                </div>
            <br/>
            
            <p><b>3.</b> Once the obstruction is cleared, place the casualty in a comfortable position and monitor breathing until EMS is on the scene. Conscious casualty whose airway has been                            cleared should be assessed by a physician due to a risk of infection and swelling of the airway.</p>
        
        </div>
        
        
    </div>
        
        
    
    
    </ion-content>




</ion-view>