<ion-view view-title="Asthma" >
    
    <ion-content>
        
        <div class = "card">
        
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/asthmaavatar.PNG">
                    <p>Asthma is called Reactive Airway Disease (R.A.D.) and results from an increased
                    sensitivity of the trachea, bronchi and bronchioles to any number of stimuli. This
                    airway reaction causes a narrowing, inflammation and production of mucus in the
                    affected airways.
                    </p>
            
                </div>
        </div>
            
                <div class = "card">
            
                    <div class = "item item-divider item-text-wrap text-center card-divider">
                        Signs and Symptoms of an Asthma Attack
                    </div>
                    
                    <div class="item item-text-wrap">
                    
                        <div class ="row">
                            <div class="col"><p>• Progressive shortness of breath</p></div>
                            <div class="col"><p>• Shallow, irregular and rapid breathing</p></div>
                        </div>

                         <div class ="row">
                            <div class="col"><p>• Laboured and difficult breathing</p></div>
                            <div class="col"><p>• Gasping for air</p></div>
                        </div>

                        <div class ="row">
                            <div class="col"><p>• Noisy, wheezy breathing</p></div>
                            <div class="col"><p>• Pale, sweaty skin from working hard to breath</p></div>
                        </div>

                        <div class ="row">
                            <div class="col"><p>• Leaning forward with shoulders pulled up</p></div>
                            <div class="col"><p>• Using neck muscles to move chest up to breath</p></div>
                        </div>

                        <div class ="row">
                            <div class="col"><p>• Bluish tinge to lips from lack of oxygen</p></div>
                            <div class="col"><p>• Anxious and fearful</p></div>
                        </div>
                    
                    </div>   
                   
                </div>
        
            <div class = "card" > 
        
                <div class="item item-divider item-text-wrap text-center card-divider" ng-init="showSteps1=false">
                  <a href="" ng-click="showSteps1=!showSteps1"><i class="icon ion-chevron-down white" style="float:left;" ></i></a>First Aid for Asthma Emergencies (without an inhaler)
                </div>
                
               
                    <div class="item item-text-wrap" ng-show="showSteps1">

                        <p>1. Ask the person to sit in a position that is the most comfortable for them and make sure stop all activities</p><br/>
                        <p>2. Ask the person to inhale by the nose, and exhale by the mouth (Pursed lip breathing)</p><br/>
                        <p>3. Treat for shock and check for medical bracelet </p><br/>

                    </div>
                  
              
                
            </div>
        
            <div class = "card">
        
                <div class="item item-divider item-text-wrap text-center card-divider" ng-init="showSteps2=false">
                <a href="" ng-click="showSteps2=!showSteps2"><i class="icon ion-chevron-down white" style="float:left;" ></i></a>First Aid for Asthma (with an inhaler)
                </div>
                
                <div class="item item-text-wrap" ng-show="showSteps2">
                    
                    <img src="img/asthmaavatar1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                    <p>1. Shake the inhaler (puffer) and test to make sure any dust particles are expelled</p><br/>                    
                    
                    <p>2. Ask the person to quietly breathe out completely</p><br/>
                    <p>3. Ask the person to <b>breathe in as they press the inhaler</b> to release the medication </p><br/>
                    <img src="img/asthmaavatar2.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                    <p>4. Ask the person to hold their breath for about 5 seconds so the drug can spread into the lungs </p><br/>
                    
                    <p>5. If the asthma attack persists, call 911 </p>
                    

                </div>
        
            </div>
        
        
        
       
