<ion-view title="Bleeding">

    <ion-content>
    
        <div class="card">
            
            <div class="item item-text-wrap">
            <img src="img/bleeding.PNG" class="image-card padding-right padding-bottom" style="float:left;">
                <p>Loss of blood and wounds can be caused by various mechanisms result in the
                breaking of soft tissues in the body and if not stopped it will lead to shock.
                </p>   
            </div>
            
        </div>
        
        <div class="card">
                    
            <div class="item item-divider item-text-wrap text-center card-divider">
                What to do
            </div>
            
            <div class="item item-text-wrap">
            
            <p><b>1. Direct Pressure: </b> </p>
                <p> Apply direct pressure to stop the bleeding </p><br/>
                
             <p><b> 2. Rest: </b> </p>
                <p> Keep the injured person at rest to
                reduce the amount of circulating
                blood at the site.
                </p><br/>
                
             <p><b> 3. Reasure: </b> </p>
                <p> Reassure the injured person and 
                treat for shock 
                </p>
                
            
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider text-center">
            Nose Bleed
            </div>
            
            <div class="item item-text-wrap">
                <p><b>1.</b> Have the person sit with the head slightly forward. (Not tilted back, since this will cause the blood to drain in to the throat and
                stomach and may cause vomiting).
                </p><br/>
                
                <p><b>2.</b> Pinch the nose to control and stop the bleeding and place an ice
                pack on the nose.</p><br/>
                
                <img src="img/bleeding1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                
                <p><b>3.</b> Place a small gauze or pad under the nostrils to absorb any dripping blood.</p><br/>
                
                
                
            </div>
        </div>

    </ion-content>

</ion-view>