<ion-view title="Bone and Joint Injuries">
    <ion-content>
        
        <div class="card">
                
                <div class="item item-text-wrap">
                    
                    <img src="img/boneandjoint.PNG" class="image-card padding-right padding-bottom" style="float:left">
                    <p>Injuries to muscles, joints and bones result from a variety of mechanisms and can vary in severity.</p><br/>



                    <p>In general, these injuries occur when strong forces directly to the body, in which case soft tissues, muscles and even bones can be damaged:</p>

                    <div class="row">
                    <div class="col"><p>• Sprain</p></div>
                    <div class="col"><p>• Strain</div>
                    </div>

                    <div class="row">
                    <div class="col"><p>• Dislocation</p></p></div>
                    <div class="col"><p>• Fractures</p></div>  
                    </div>
                </div>
        </div>
        
        <div class="card">
        
            <div class="item item-divider item-text-wrap card-divider text-center">
            Follow the P.R.I.C.E. principle
            </div>
            
            <div class="item item-text-wrap">
                
            <p><b>P.</b>  Protect the limb from movement and further injury.</p><br/>
                <img src="img/boneandjoint1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
            <p><b>R.</b>  Rest, keep the person at rest to reduce the use of the limb.</p><br/>
            <p><b>I.</b>  Immobilize the injury to provide support and prevent further injury.</p><br/>
            <p><b>C.</b>  Cold compress, apply a compress bandage (ice) around the site.</p><br/>
            <p><b>E.</b>  Elevate the injury limb if possible to reduce blood flow to the injury site.</p>

            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider text-center card-header-green">
                <span style="color:red">Hot</span> or <span style="color:blue">cold ?</span>
            </div>
            
            <div class="item item-text-wrap">
                
            <p>•The answer is cold first and heat later for muscle strains and repetitive strain injuries.</p><br/>
                <img src="img/boneandjoint2.PNG" class="image-card padding-right padding-bottom" style="float:left;">
            <p>•The amount of swelling or local bleeding into the muscle (from torn blood vessels) can best be</p><br/>
            <p>•Managed early by apply ing ice packs and maintaining the strained muscle in a stretched position.</p><br/>
            <p>•Heat can be applied when the swelling has reduced within 48hrs.</p><br/>
            <p>•Be careful, early application of heat can increase swelling and pain.</p>

            </div>
        </div>
    
    
    
    
    
    
    </ion-content>




</ion-view>