<ion-view view-title="Breathing Emergencies" >
        <ion-content class="padding">
            
            <ion-list  class="card" >
            
            
                <ion-item class="item-icon-right" href="#/tab/adultchoking" >Adult Breathing Emergency

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/infantchoking" >Infant Breathing Emergency 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
            </ion-list>
            
    </ion-content>
    
</ion-view>