<ion-view title="Burns">

    <ion-content>
        <div class="card">
           
            <div class="item item-text-wrap">
                <img src="img/burns.PNG" class="image-card padding-right padding-bottom" style="float:left;">
                <p>Burns result from the direct contact of heat on the skin and the underlying surfaces.
                They are generally classified in terms of depth and according to the layer of skin that
                has been affected.
                </p></div>
        </div>  
            
        
        <div class="card">
            <div class="item item-divider item-text-wrap card-divider text-center">Burn Classification</div>
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p><b><span style="color:#669933">First Degree :</span></b></p></div>
                    <div class="col"><p><b>(Superficial)</b> involves the epidermis or top layer</p></div>
                
                </div>
                
                <div class="row">
                    <div class="col"><p><b><span style="color:#669933">Second degree :</span> </b></p></div>
                    <div class="col"><p><b>(Partial Thickness)</b> involves dermis or middle layer</p></div>
                
                </div>
                
                <div class="row">
                    <div class="col"><p><b><span style="color:#669933">Third degree :</span></b></p></div>
                    <div class="col"><p><b>(Full Thickness)</b> involves the subcutaneous layer or bottom layer</p></div>
                
                </div>
                
                <div class="row">
                                       
                    <div class="col"><p>• To stop burning: remove any clothing or jewellery from the burn site if possible</p><br/>
                        <p>• If clothing is stuck to the skin; don’t tear it off, cut around it.</p><br/>
                        <p>• Sterile dressings and flushing the wound with water.</p><br/>
                        <p>• Use water based gel for burns (if available)</p><br/>
                        <p>• Keep the person warm and treat for shock</p>
                    </div>
                
                </div>
        </div>
     </div>
        
        <div class="card">
        
            <div class="item item-divider card-divider text-center item-text-wrap">
            Chemical Burns
            </div>
            
            <div class="item item-text-wrap">
                <p>• Remove the person from the chemical spill area</p><br/>
                <p>• Brush off the powder chemical</p><br/>
                <p>• Sterile dressings and flushing the wound with water.</p><br/>
                <p>• Rince off the liquid chemical </p><br/>
                <p>• Treat for shock</p>
            </div>
            
        </div>
    
    
    
    
    
    
    
    </ion-content>


</ion-view>