<ion-view title="CPR - Cardio Pulmonary Resuscitation">

    <ion-content>
    
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">First Aid for CPR </div>
            
            <div class="item item-text-wrap">

                <div class="row">
                    <div class="col"><p><span class="number">1 </span>Check level of responsiveness</p> </div>
                    <div class="col"><img src="img/cpr.PNG" class="image-card"></div>
                </div>

                <div class="row">
                    <div class="col"><p><span class="number">2 </span>Call for Help, call 911 and get the AED</p> </div>
                </div>

                <div class="row">
                    <div class="col"><p><span class="number">3 </span>Open the airway and check for no breathing or no normal breathing</p> </div>
                </div>

                <div class="row">
                    <div class="col"><p><span class="number">4 </span>If no breathing or no normal breathing; Perform CPR for about 2 minutes </p> </div>
                    <div class="col"><img src="img/cpr1.PNG" class="image-card"></div>
                </div>
                
                <div class="row">
                    <div class="col"><p><span class="number">5 </span>30 chest compressions : 2 breaths (5 cycles)</p> </div>
                </div>
                
                <div class="row">
                    <div class="col"><p><span class="number">6 </span>Turn AED power ON</p> </div>
                    
                </div>
                
                 <div class="row">
                    <div class="col"><p><span class="number">7 </span>Select and attach AED electrodes</p> </div>
                     <div class="col"><img src="img/cpr2.PNG" class="image-card"></div>
                </div>
                
                <div class="row">
                    <div class="col"><p><span class="number">8 </span>Wait for AED instructions (shock or no shock advised)</p> </div>
                    
                </div>
                
                <div class="row">
                    <div class="col"><p><span class="number">9 </span>If shock advised, press the shock button</p> </div>
                </div>
                
                <div class="row">
                    <div class="col"><p><span class="number">10 </span>Follow AED instructions</p> </div>
                    <div class="col"><img src="img/cpr3.PNG" class="image-card"></div>
                </div>
                
                <div class="item item-text-wrap">
                    <p><b>The rescuer must ensure that the path of energy delivered does not flow from the defibrillator to the operator.</b></p><br/>

                    <h2 class="text-center" style="color:#669933;"><b>Push Hard and Push Fast</b></h2>

                    <p>Deeper compressions increase blood flow to the brain and vital organs such as the
                    heart, lungs, kidneys and liver. It also decreases the risk of blood coagulation
                    (clotting) and extend heart fibrillation.</p>
                </div>
                
            </div>
            
        </div>
    
    </ion-content>

</ion-view>