<ion-view view-title="Definitions" >
    
    <ion-content>
                                                                
        <div class="card">
            
            <div class="item item-divider item-text-wrap card-divider">What is First Aid ?</div>
            
            <div class="item item-text-wrap">
            <p>Emergency care and treatment to an injured or sick person before EMS is available.</p>
            </div>                                             
            
            <div class="item item-divider item-text-wrap card-divider">What is a First Aider ? </div>
            
            <div class="item item-text-wrap">
              <p>This person is the one most likely to have first aid training and is the primary person
              in charge of treatment. This person will also be the one who decides whether an
              ambulance should be called, and the one who will direct resources for first aid.</p>
            </div>
        
            <div class="item item-divider item-text-wrap card-divider">What is a Casualty ?</div>
              
            <div class="item item-text-wrap"><p>The casualty is an injured or ill person that needs immediate first aid and medical help.</p></div>
                 
            <div class="item item-divider item-text-wrap card-divider"> What is the recommended Casualty Age for resuscitation ?</div>
            
            <div class="item item-text-wrap">
              <p><b>Adult:</b> 8 years of age + </p><br/>
              <p><b>Child:</b> 1 to 8 years of age</p><br/>
              <p><b>Infant:</b> newborn to 1 year old</p>
            </div>      
        </div>        
                  
    </ion-content>
</ion-view>