<ion-view title="Diabetes">

    <ion-content>
    
    <div class="card">
        <div class="item item-text-wrap">
            <p>Diabetes is a disease that is caused mainly by the pancreas inability to produce adequate amounts of insulin for the body's needs. Insulin is a hormone that regulates the body’s                    sugar and assists in the conversion of sugar to energy.
            </p>
            <br/>
            <p><b>Type 1 diabetes </b> occurs in people younger than age 30 and must be controlled with daily insulin injections. This is a condition in which the pancreas makes so little insulin                     that the body can’t use blood glucose as energy.
            </p>
            <br/>
            
            <p><b>Type 2 diabetes </b>(non-insulin dependent diabetes) occurs after the age of 30 years. A resistance to insulin develops, often exacerbated by excess weight, leaving the pancreas                 unable to produce enough insulin to compensate.
            </p>
        
        </div>
    
    </div>
        
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">Signs and Symptoms of Diabetic Emergencies</div>
        
        <div class="item item-text-wrap">
        <h2><b><span style="color:#669933;">Hypoglycemia (Low Blood Sugar)</span></b></h2><br/>
            <p>• Develops very quickly</p>
           <p>• Headache and confusion</p>
           <p>• Weak, trembling and staggering</p>
           <p>• Appears to be intoxicated</p>
           <p>• Slurred speech</p>
           <p>• Tired and sleepy</p>
           <p>• May become belligerent and aggressive</p>
           <p>• Pale, cool and clammy skin</p><br/>

       
        
        
        
        <h2><b><span style="color:#669933;">Hypoglycemia (High Blood Sugar)</span></b></h2><br/>
            <img src="img/diabetes.PNG" class="image-card" style="float:right;">
            <p>• Develops over several hours</p>
           <p>•	Thirsty</p>
           <p>•	Nausea and vomiting</p>
           <p>•	Frequent urination </p>
           <p>• Warm, dry and flushed skin</p>
           <p>•	Fever and abdominal pain</p>
           <p>•	“Fruity” nail-polish smell to the breath</p>
           <p>•	Drowsy and comatose</p>

        </div>
        
    </div>
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">First Aid for Diabetic Emergencies</div>
        
        <div class="item item-text-wrap">
            <img src="img/diabetes1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
        <p><b>Low Blood Sugar:</b> If the person is alert and able to swallow, give instant glucose or a sweetened drink with a bit of sugar added. Call 911. </p><br/>
        <p><b>High Blood Sugar:</b> If the person is alert and able to respond, assist them with their insulin. Do not administer the patient insulin. Patient will inject themselves with the insulin. Call 911.
        </p>
        
        </div>
        
    </div>
    
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">Identify diabetic emergencies</div>
            
            <div class="item item-text-wrap">
                <p><span class="number">1 </span>Responsive or unresponsive casualty?</p>
                <p><span class="number">2 </span>What provoked the diabetic emergency?</p>
               <p><span class="number">3 </span>What is the severity of the diabetic emergency?</p>
               <p><span class="number">4 </span>How long ago did the diabetic emergency start?</p>
               <p><span class="number">5 </span>What was the person’s last meal / oral intake?</p>
               <p><span class="number">6 </span>Events leading prior to the incident?</p>
               <p><span class="number">7 </span>Do they take diabetic medication?</p>    
            </div>
    </div>
    </ion-content>



</ion-view>