<ion-view view-title="Emergencies">
    
        <ion-content>
            
            <ion-header-bar class="bar bar-header bar-light ">
                    <a class="button icon ion-earth button-light" style="color:#CC0000;" href="#/tab/emergenciesfr"> FR </a>
            </ion-header-bar>
            
            <br/>
            <br/>
           
            <ion-list>
                
                <ion-item class="item-icon-right" href="#/tab/howwillireact" >How to React in an Emergency

                    <i class="icon ion-chevron-right icon-accessory"></i>

            </ion-item>  
            
                <ion-item class="item-icon-right" href="#/tab/asthma" >Asthma

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/bleeding" >Bleeding 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/boneandjointinjuries" >Bone and joint injuries

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/breathingemergenciessub" >Breathing Emergencies

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/burns" >Burns

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/cpr" >CPR

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/diabetes" >Diabetes

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>


                <ion-item class="item-icon-right" href="#/tab/heartattack" > Heart Attack

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/seizures" >Seizures

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/severeallergicreactions" >Severe Allergic Reactions

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/shock" >Shock

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/strokes" >Strokes

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
            </ion-list>

        </ion-content>
      </ion-view>