<ion-view title="The Good Samaritan">

    <ion-content>
    
        <div class="card">
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p>• Identify yourself</p></div>
                    <div class="col"><p>• Ask for consent</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Act in good faith</p> </div>
                    <div class="col"><p>• Use common sense</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Offer to help</p> </div>
                    <div class="col"></div>
                    
                </div>
               
            </div>
        
            <div class="item item-divider item-text-wrap card-divider">
               In any event, any first aider who initiates CPR and/or First Aid should continue until:
            </div>
            
            <div class="item item-text-wrap">
                <p>• The person’s breathing and signs of circulation have been restored;</p><br/>
                <p>• Care is transferred to another trained person who continues CPR or First Aid;</p><br/>
                <p>• Care is transferred to EMS personnel or to a licensed physician;</p><br/>
                <p>• The first aider is too exhausted to continue resuscitation;</p><br/>
                <p>• The first aider life is in danger.</p>
            </div>
        
        </div>

    
    </ion-content>


</ion-view>