<ion-view title="The Good Samaritan">

    <ion-content>
    
        
        <div class="card">
            <div class="item item-text-wrap item-divider card-divider">
                "An Act to protect persons from liability in respect of voluntary emergency medical or first aid services"
                
            </div>
            <div class="item item-text-wrap">
                <p><b>Protection from liability</b></p>
               
                <p class="quote">2.  (1)  Despite the rules of common law, a person described in subsection (2) who voluntarily and without reasonable expectation of compensation or reward provides the services described in that subsection is not liable for damages that result from the person’s negligence in acting or failing to act while providing the services, unless it is established that the damages were caused by the gross negligence of the person.</p>
                <br>
                <p><b>Persons covered</b></p>
                <p class="quote">(2)  Subsection (1) applies to,</p>
                <br>
                
                <p class="quote">(a) a health care professional who provides emergency health care services or first aid assistance to a person who is ill, injured or unconscious as a result of an accident or other emergency, if the health care professional does not provide the services or assistance at a hospital or other place having appropriate health care facilities and equipment for that purpose; and 
                    <br><br>
(b) an individual, other than a health care professional described in clause (a), who provides emergency first aid assistance to a person who is ill, injured or unconscious as a result of an accident or other emergency, if the individual provides the assistance at the immediate scene of the accident or emergency.
                    <br><br>
Excerpt from <a href="#">www.e-law-gov.on.ca</a>
</p>
            </div>
        
        </div>

        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            The Good Samaritan's actions
            </div>
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p>• Identify yourself</p></div>
                    <div class="col"><p>• Ask for consent</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Act in good faith</p> </div>
                    <div class="col"><p>• Use common sense</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Offer to help</p> </div>
                    <div class="col"></div>
                    
                </div>
               
            </div>
        </div>
        
        <div class="card">
        
            <div class="item item-divider item-text-wrap card-divider">
               In any event, any first aider who initiates CPR and/or First Aid should continue until:
            </div>
            
            <div class="item item-text-wrap">
                <p>• The person’s breathing and signs of circulation have been restored;</p><br/>
                <p>• Care is transferred to another trained person who continues CPR or First Aid;</p><br/>
                <p>• Care is transferred to EMS personnel or to a licensed physician;</p><br/>
                <p>• The first aider is too exhausted to continue resuscitation;</p><br/>
                <p>• The first aider life is in danger.</p>
            </div>
        
        </div>
    
    </ion-content>


</ion-view>