<ion-view title="Heart Attack">

    <ion-content>
        <div class="card">
        
            <div class="item item-text-wrap">
            <p>When the delivery of oxygen to the heart muscle is decreased over a long period of time, the damage to the heart muscle often becomes irreversible. The affected heart muscle cells eventually die and the injured area of the heart cannot pump adequately.</p>
            </div>
        
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">
            Signs and Symptoms of Angina and Heart Attack
            </div>
            
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p>• Tightness or squeezing sensation in the chest behind the breastbone:</p></div>
                    <div class="col"><p>• Crushing, vice-like pressure in the chest</p></div>
                </div>
        
                <div class="row">
                    <div class="col"><p>• Nausea, heartburn and indigestion</p></div>
                    <div class="col"><p>• General feeling of fatigue and weakness</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Sore, aching jaw or arm</p></div>
                    <div class="col"><p>• Fear and anxiety</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Pale, cool and sweaty skin</p></div>
                    <div class="col"><p>• Denial</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Shortness of breath</p></div>
                    <div class="col"><p>• Fainting</p></div>
                </div>

            </div>
        </div>
    
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">
            Signs and Symptoms of Angina and Heart Attack can be different for women
            </div>
            
            <div class="item item-text-wrap">
                
                <p>Up to 43% of women report no chest pain and were likely to experience vague symptoms such as shortness of breath, unusual tiredness or fatigue, and sleep disturbances.</p><hr/>
                
                <div class="row">
                    <div class="col"><p>• The heart attack symptoms women report are:</p></div>
                    <div class="col"><p>• Pain or discomfort in the back, usually along the bra line</p></div>
                </div>
        
                <div class="row">
                    <div class="col"><p>• Sudden weakness, fatigue, or dizziness</p></div>
                    <div class="col"><p>• Swelling of the feet, ankles, and lower legs</p></div> 
                </div>

                <div class="row">
                    <div class="col"><p>• Nausea and vomiting</p></div>
                    <div class="col"><p>• Stomach or abdominal pain</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Anxiety</p></div>
                    <div class="col"><p>• Very fast pulse</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Pain in the lower jaw</p></div>
                    <div class="col"><p>• Clammy skin</p></div>
                </div>

            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">
            First Aid for Heart Attack
            </div>
            
            <div class="item item-text-wrap">
                <img src="img/heartattack.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <p><span class="number">1 </span> Assess level of responsiveness</p><br/>
                 <p><span class="number">2 </span> Call 911</p><br/>
                 <p><span class="number">3 </span>Assess the ABC's</p><br/>
                 <p><span class="number">4 </span>Ask the person to sit in a comfortable position</p><br/>
                 <p><span class="number">5 </span>Give the person his or her medication such as two chewable 81mg ASA (Aspirin®) or nitroglycerin medication <b>(1)</b></p>
                
                 <p><span class="number">6 </span> Treat for shock</p><br/><hr>
                
                
                <p class="text-center"><b><span style="color:#669933;">Ask the following questions:</span></b></p><br/>
                <p>• Where is the pain located? Severity of the pain (1 to 10) ? </p><br/>
                <p>• Last meal (indigestion)? Past medical history?</p><br/><hr>
                
                <p><b>Warning (1):</b></p>
                <p class="quote">1. Do not give ASA (acetylsalicylic acid), to a person with the following conditions: allergy to Aspirin®, asthma, ulcers, head injury and CVA. Follow medical directions                     from a Health Care Professional on the use of ASA and Nitroglycerin.</p>
                
                <p class="quote">2. Do not give nitroglycerin to a person who has taken erectile dysfunction medication within the last 48hrs.</p>
                
            </div>
        
        </div>
    
    
    </ion-content>



</ion-view>