
      <ion-view view-title="First Aid by CGET">
          
        <ion-content >
          
           <div class="card">
                <ion-slide-box auto-play="true" does-continue="true" show-pager="false">
                        <ion-slide>
                            <img src="img/homepage.PNG" style="width:100%" >
                        </ion-slide>
                        <ion-slide>
                            <img src="img/firstaidbanner.PNG" style="width:100%" >
                        </ion-slide>
                        
                </ion-slide-box>
            </div>
            
        
          <ion-list class="card">
            
            <ion-item class="item-icon-right" href="#/tab/warning">Warning
                
                <i class="icon ion-alert"></i>
                
            </ion-item>
            
            
            <ion-item class="item-icon-right" href="#/tab/whatisfirstaid" >About First Aid
            
                <i class="icon ion-medkit"></i>
            
            </ion-item>
            
            <ion-item class="item-icon-right" href="#/tab/goodsamaritan" >Good Samaritan
            
                <i class="icon ion-happy"></i>
            
            </ion-item>
              
            <ion-item class="item-icon-right" href="#/tab/howwillireact" >How will I React in an Emergency

                    <i class="icon ion-help-buoy"></i>

            </ion-item>
               
            <ion-item class="item-icon-right" href="#/tab/definitions" >Definitions
            
                <i class="icon ion-help"></i>
                
            </ion-item>   
        <!--
            <ion-item class="item-icon-right" href="/tabfr" >Change Language
            
                <i class="icon ion-earth"></i>
            
            </ion-item>
          
            <ion-item class="item-icon-right" href="#/tab/videos">Videos
            
                <i class="icon ion-social-youtube"></i>
            
            </ion-item> 
         -->
         </ion-list>
        
      
            
        </ion-content>
      </ion-view>

