<ion-view title="How to React in an Emergency">

    <ion-content>
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">
            The First-Aider should:
            </div>
            
            <div class="item item-text-wrap">
            
                
            <p><span class="number">1</span> Keep yourself and the person (s) safe and out of danger </p><br/>
                <p><span class="number">2</span> Try to remain calm (body language) </p><br/>
                <p><span class="number">3</span> Take charge and get assistance </p><br/>
            <p><span class="number">4</span> Call 911 after stopping major bleeding</p><br/>
                <p><span class="number">5</span> Keep focus on the basics (ABC's - Airway, Breathing, Circulation) </p><br/>
                <p><span class="number">6</span> Rapid body check and stop major bleeding </p><br/>
                <p><span class="number">7</span> Treat for shock </p><br/>
                <p><span class="number">8</span> Always have the door open and accessible for EMS </p>
                
            </div>
            
            
        </div>
    
    
    </ion-content>

</ion-view>