<ion-view title="How to React in an Emergency">

    <ion-content>
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">
            The First-Aider should:
            </div>
            
            <div class="item item-text-wrap">
            
                
            <p>• Keep yourself and the person (s) safe and out of danger </p><br/>
            <p>• Try to remain calm (body language) </p><br/>
            <p>• Take charge and get assistance </p><br/>
            <p>• Call 911 after stopping major bleeding</p><br/>
            <p>• Keep focus on the basics (ABC's) </p><br/>
            <p>• Rapid body check and stop major bleeding </p><br/>
            <p>• Treat for shock </p><br/>
            <p>• Always have the door open and accessible for EMS </p>
                
            </div>
            
            
        </div>
    
    
    </ion-content>

</ion-view>