<ion-view title="Infant Choking">

<ion-content>
    
<div class="card">
        <div class="item item-divider item-text-wrap card-divider text-center">Infant Choking (Airway Obstruction) </div>
        
        <div class="item item-text-wrap">
            <img src="img/choking7.PNG" class="image-card padding-left padding-bottom" style="float:right">
            <p>An airway obstruction means that something is blocking a person’s airway, which prevents air from moving in and out of the lungs. A blockage can                                                 partially or completely obstruct the airflow, and this can occur either when the person is conscious or unconscious. An airway obstruction is referred to as “choking”.</p>
        </div>
        
    </div>
        
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">
        
        Signs and Symptoms of Choking
            
        </div>
            
        <div class="item item-text-wrap">
            
            <div class ="row">
            <div class="col"><p>• Respiratory distress</p></div>
            <div class="col"><p>• Weak cough</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Weak cry</p></div>
            <div class="col"><p>• Panic</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Respiratory distress</p></div>
            <div class="col"><p>• Bluish lips and bluish skin</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• High‐pitched noisy breathing</p></div>
            <div class="col"></div>
            </div>
            
        </div>
    </div>
    
    <div class="card">
        <div class="item item-divider item-text-wrap text-center card-divider">
        First Aid for Infant Choking
        </div>
        
        <div class="item item-text-wrap">
            <p><b>1. Call for help!</b></p>
            <p>Get someone to call 911!</p><br/>
            <p><b>2. Clear the obstruction</b></p>
            
                <div class="text-center item-text-wrap">
                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking8.PNG" class="image-card"><p>Give five back blows</p> </div>
                        <div class="col"><p>B.</p><img src="img/choking9.PNG" class="image-card"><p>Give five chest thrusts</p></div>
                    </div>
                </div>
            <br/>
            
            <p><b>3.</b> Once the obstruction is cleared, place the casualty in a comfortable position and monitor breathing until EMS is on the scene. Conscious casualty whose airway has been                            cleared should be assessed by a physician due to a risk of infection and swelling of the airway.</p>
        </div>
    </div>
    
    <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Video Demonstration</div>
            
            <div class="video-container">
                <iframe src="http://www.youtube.com/embed/ZbaxHXcXrZ8" frameborder="0" allowfullscreen></iframe>
            </div>
            
            
    </div>

</ion-content>
    
</ion-view>