<ion-view title="Seizures">

    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <p>Seizures or convulsions occur when there are massive uncoordinated discharges of electrical activity from various
                areas within the brain. The consequent irregularity of brain impulses can lead to uncontrolled muscular contractions that affect all areas and muscles of the body. The term epilepsy                  usually refers to a person who suffers from recurrent seizure.
                </p>
                
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            Signs and Symptoms of Seizures
            </div>
            
            <div class="item item-text-wrap">
            <p>Most people who have seizures are sometimes able to predict the event and can give some warning that they are about to have a seizure. They may mention that they don’t feel well or                 that they have an odd taste or smell. They may lay down on the ground or crouch down to avoid falling over.</p><hr/>
                
                <div class="row">
                    <div class="col"><p>• A sudden cry or shriek (because the abdominal muscles and the diaphragm becoming tense)e</p></div>
                    <div class="col"><p>• Generalized jerking and uncoordinated body movements</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Grunting because of spastic diaphragm contractions</p></div>
                    <div class="col"><p>• Frothing at the mouth (from productive salivary glands and panting)</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Abnormal and irregular breathing and sometimes panting</p></div>
                    <div class="col"><p>• Loss of bladder and or bowel control</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Loss of consciousness</p></div>
                    <div class="col"><p>• General stiffening of the body</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Blank stare</p></div>
                    <div class="col"><p></p></div>
                </div>
                
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            First Aid for Seizures
            </div>
            
            <div class="item item-text-wrap">
                <p>• If you have sufficient time before the seizure activity begins, have the person lie on the floor or on the ground</p><br/>
                 <p>• Loosen any restrictive clothing</p><br/>
                 <p>• Protect the person from injury by supporting the head</p><br/>
                 <p>• Assess the airway and breathing (Never place anything in the person's</p><br/>
                 <p>• mouth since this may break teeth, cause gagging, vomiting, and will likely compromise the airway.)</p><br/>
                 <p>• After the convulsion has subsided, place the person in the recovery position and cover them with a blanket</p><br/>
                 <p>• Provide reassurance and limit the exposure to loud or bright stimulus (this could precipitate another seizure)</p><br/>
                 <p>• Do not give any liquids during or after the seizure</p><br/>
                 <p>• Check for medical bracelet.(casualty medical history</p><br/>
                 <p>• Call 911 </p>
            </div>
        
        </div>
    
    
    
    </ion-content>


</ion-view>