<ion-view title="Severe Allergic Reactions (Anaphylactic reaction)">

    <ion-content>
    
    <div class="card">
        <div class="item item-text-wrap">
        <p>An allergic reaction is the body’s protective mechanism to guard against disease and infection. But an anaphylactic reaction is a rapid, severe allergic reaction that occurs when a                   person is exposed to an allergen. Soon after the agent enters the body, there is a high-dose release of a dozen chemical weapons including histamine which causes massive swelling in an              attempt to “flush out ” the intruder.
        </p>
        </div>
        
    </div>
        
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">
        Signs and Symptoms of Severe Allergic Reactions
        </div>
        
        <div class="item item-text-wrap">
            
            <div class="row">
                <div class="col"><p>• Swelling of face, lips, tongue and skin around the eyes and neck</p></div>
                <div class="col"><p>• Breathing difficulties  and wheezing  “Lump in the throat”</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Flushed, itchy skin and skin rash (Hives)</p></div>
                <div class="col"><p>• Stridor (high-pitched squeak or wheeze)</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Rapid, bounding heartbeat</p></div>
                <div class="col"><p>• Feeling of impending doom</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Low blood pressure</p></div>
                <div class="col"><p></p></div>
            </div>
            
        </div>
        
        
    </div>
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">
        First Aid for Severe Allergic Reactions
        </div>
        
        <div class="item item-text-wrap">
            
            <img src="img/severeallergicreactions.PNG" class="image-card padding-left padding-bottom" style="float:right;">
            <p><span class="number">1 </span> Have the person sit or lie down in a comfortable position</p><br/>
            <p><span class="number">2 </span>Locate patient-prescribed auto-injector</p><br/>
            <p><span class="number">3 </span>Administer epinephrine with auto-injector unit as per directions or local Protocols</p><br/>
            <p><span class="number">4 </span>Monitor the airway</p><br/>
            <p><span class="number">5 </span>Call 911</p>

        </div>
        
    </div>
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">
        Auto-injector administration
        </div>
        
        <div class="item item-text-wrap">
            
             <img src="img/severeallergicreactions1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
            
            <p><span class="number">1</span> Remove the safety cap.</p><br/>
            <p><span class="number">2</span> Hold the unit firmly while keeping your hand away from the tip.</p><br/>
            <p><span class="number">3</span> Find the outside of the person’s thigh.</p><br/>
            <p><span class="number">4</span> From a distance of about 1 to 2 inches, firmly jab the tip into the outer thigh until the injector activates. You will hear a click</p><br/>
            <p><span class="number">5</span> Hold the injector into place for 10 seconds.</p><br/>
            <p><span class="number">6</span> After giving the injection, place auto-injector back into the container needle-first.</p><br/>
            <p><span class="number">7</span> Massage the injected site.</p><br/>
            <p><span class="number">8</span> Treat for shock.</p><br/>
            <p><span class="number">9</span> Assess the breathing.</p><hr/>
            
            <p>A person may have more than one injector in the event that multiple doses are required to control the reaction.</p><br/>
            <p><b><i>Dosage for adult: 0.3 mg of epinephrine</i></b></p>
            <p><b><i>Dosage for child: 0.15 mg of epinephrine</i></b></p>


        </div>
        
    </div>
    
    </ion-content>



</ion-view>