<ion-view title="Shock">

    <ion-content>
    
        <div class="card">
        
            <div class="item item-text-wrap">
            <p class="text-center"><span style="color:#669933;"><b>Survey</b></span></p><br/>
                
            <p >• Check level of responsiveness before calling 911.</p><br/><hr/>
            
            
            
            <p class="text-center"><span style="color:#669933;"><b>Primary Survey</b></span></p><br/>
                
            <p>• Assess the ABC's (Airway - Breathing - Circulation)</p><br/>
            <p>• Rapid body check and stop major bleeding, check for medical bracelet info.</p>
            </div>
        </div>
                
            <div class="card">
                
            <div class="item item-divider card-divider item-text-wrap text-center">Ongoing Casualty Care</div>
            
            <div class="item item-text-wrap">
            <p><span class="number">1</span> Place casualty in the recovery position if: </p><br/>
                
                 <p>• Unconscious casualty is breathing and injuries are not suspected.</p><br/>
                <p>• Breathing is noisy (gurgling sounds).</p><br/>
                <p>• Casualty starts to vomit.</p><br/>
                <p>• Casualty is bleeding from the mouth.</p><br/>
                <p>• You must leave the casualty to call 911 or get help.</p><br/>
                
            <p><span class="number">2</span> Rest and reassure the injured person</p><br/>
            <p><span class="number">3</span> Cover the person and keep them warm</p><br/>
            <p><span class="number">4</span> Monitor vital signs</p>
     
            </div>
            
        </div>
        
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">
            Steps to place casualty in the recovery position:
            </div>
            
            <div class="item item-text-wrap">
                <img src="img/shock.PNG" class="banner-card"><br/><br/>
                <p><span class="number">1 </span>Take the person's arm closest to your own and put it up by their head.</p><br/>
                <p><span class="number">2 </span>Pull the other arm across the chest and lay that hand over the chest.</p><br/>
                <p><span class="number">3 </span>Flex the further leg at the knee, pull it up and place your hand on top of that knee.</p><br/>
                <p><span class="number">4 </span>With your other hand, gently support the person's head.</p><br/>
                <p><span class="number">5 </span>Pull the bent knee of the far leg towards you</p>
            </div>
            
        </div>
    
    </ion-content>


</ion-view>