<ion-view title="Strokes - Cerebrovascular Accident (CVA)">
    <ion-content>
    
        <div class="card">
            <div class="item item-text-wrap">
            <p>There are various causes of CVA although they are generally attributed to a rupture (from an aneurysm) or an occlusion (blood clot) in a cerebral blood vessel. As with heart muscle                 cells, when blood flow to the brain is compromised, brain cells are also damaged and this causes alterations in brain function. Strokes result from a reduction or stoppage of blood                   flow and oxygen supply to a part of the brain.</p>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            Signs and Symptoms of a Stroke (CVA)
            </div>
            
            <div class="item item-text-wrap">
                <img src="img/strokes.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <p><b>FAST Check: </b></p><br/>
                <p>• Facial droop </p>
                <p>• Arm drift </p>
                <p>• Speech impairment </p>
                <p>• Time to get help immediately.</p>
            
            </div>
        
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            First Aid for Stroke 
            </div>
            
            <div class="item item-text-wrap">
            <p>• Check for level of responsiveness before calling 911</p><br/>
            <p>• Assess the ABC's</p><br/>
            <p>• Treat for shock</p><br/>
                
            <p class="text-center"><b>Ongoing Casualty Care:</b></p><br/>
                <img src="img/strokes1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <p>Ask the person to sit or lie in a comfortable position.</p><br/>
                <p>Ask the person to smile and to squeeze both your hands.</p><br/>
                <p>Also ask them to touch their nose with one finger of each hand, one at a time to assess for lack of coordination.</p>
            </div>
        </div>
    
    </ion-content>



</ion-view>