<ion-view view-title="Videos" >
              <ion-content class="padding">
                
                <ion-list>
                    <ion-item class="item item-thumbnail-left" href="#/tab/adultchoking">
                        <img src="https://i.ytimg.com/vi/ZbaxHXcXrZ8/default.jpg">
                            <h2>Infant Choking</h2>
                            <p>This video demonstrates what to do...</p>
                    </ion-item>
                    
                    <ion-item class="item item-thumbnail-left" href="">
                        <img src="https://i.ytimg.com/vi/w63ppotf1P4/default.jpg">
                            <h2>Burns </h2>
                            <p>This video gives an example of text text text text yadda yadda yadda this is actually pretty cool...</p>
                    </ion-item>
                    
                    <ion-item class="item item-thumbnail-left" href="">
                        <img src="https://i.ytimg.com/vi/5poFeSPR8OI/default.jpg">
                            <h2>First-Aid Introduction </h2>
                            <p>This video gives an example of text text text text yadda yadda yadda this is actually pretty cool...</p>
                    </ion-item>
                    
                    <ion-item class="item item-thumbnail-left" href="">
                        <img src="img/demovidthumb.PNG">
                            <h2>Some video text</h2>
                            <p>This video gives an example of text text text text yadda yadda yadda this is actually pretty cool...</p>
                    </ion-item>
                    
                    <ion-item class="item item-thumbnail-left" href="">
                        <img src="img/demovidthumb.PNG">
                            <h2>Some video text</h2>
                            <p>This video gives an example of text text text text yadda yadda yadda this is actually pretty cool...</p>
                    </ion-item>
                    
                    <ion-item class="item item-thumbnail-left" href="">
                        <img src="img/demovidthumb.PNG">
                            <h2>Some video text</h2>
                            <p>This video gives an example of text text text text yadda yadda yadda this is actually pretty cool...</p>
                    </ion-item>
                    
                </ion-list>
                
                <!-- Disabling video embedding with this comment to try a list instead
                
                <div class="video-container">
                <iframe src="http://www.youtube.com/embed/C-UwOWB9Io4" frameborder="0" allowfullscreen></iframe>
                </div>
                
                -->
                
              </ion-content>
</ion-view>