<ion-view view-title="Warning" >
    
    <ion-content>
            
            <div class="card">
            
                <div class="item item-text-wrap">
                    <p>This application was developed as a general reference guide in conjunction with emergency training
                    manual. The application does not replace the Basic Emergency Care manual.</p>

                    <p>This application contains the new CPR and First Aid guidelines. The information contained in this
                    presentation follows generally accepted emergency care guidelines.</p>
                </div>
            </div>
          
            <div class="card">
                
                <div class="item item-text-wrap item-divider card-divider text-center">
                    Notice on Care Procedures
                </div>
            
                <div class="item item-text-wrap">
                    <p>Any procedures described in this slide presentation should be applied by persons who have received
                    formal training.</p>
                    <br />
                    <p>Every effort has been taken to ensure the accuracy of the information presented and also to describe
                    generally accepted basic emergency medical care. However, the video/slide presentation author,
                    participants and external reviewers cannot accept any responsibility for any errors or omissions, or for any
                    consequences that may arise from improper use of the information in this slide presentation.</p>
                    <br />
                    <p>Finally, if you are participating in a First Aid and CPR course, you may be subjected to some physical activity.
                    Therefore, it is important to understand that CPR is indeed hard work. If for any reason, your physician has
                    recommended that you avoid strenuous activity or that your activity be limited in any way, please advise
                    your instructor if you require any assistance or if there are any physical restrictions that may hinder your
                    participation during the course.</p>
                    <br />
                    <p>The author and external reviewers cannot be held responsible for injuries sustained during or after a First
                    Aid and CPR training course.</p>
          
                </div>
          <!--Button for home view
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            
          </p>
          
          -->
            </div>
            
    </ion-content>
</ion-view>