<ion-view view-title="What is First Aid" >
              
    <ion-content >
             
            <div class="card">
                
                <div class="item item-divider item-text-wrap card-divider">
                    First aid is the basic emergency care that is provided to an ill or injured person.
                    
                </div>
                
                <div class="item item-text-wrap">
                    
                    <p><b>The three objectives of first aid is to:</b></p><br/>
                    <img src="img/firstaid.PNG" class="image-card padding-left padding-bottom padding-top" style="float:right;">
                    <p>1. Preserve life by providing first aid until more qualified help arrives,</p><br/>
                                                                        
                    <p>2. Prevent the illness or injury from becoming worse,</p><br/>
                          
                    <p>3. Promote recovery. </p>
                 </div>   
                    
            </div>
            
            <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Video Demonstration</div>
            
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/5poFeSPR8OI','_system', 'location=yes');return false;" >
                               <img src="img/introfirstaidvid.PNG" > 
                                 <p><b>First aid introduction video</b></p>
                                    <p>Presented by The Canadiaan Emergency Group</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            
            </div>
                
          
                   
        
        <!--button icon to home view
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
        </p>
          -->
          
    </ion-content>
</ion-view>
