<ion-view view-title="What is First Aid" >
              
    <ion-content >
             
            <div class="card">
                
                <div class="item item-divider item-text-wrap card-divider">
                    First aid is the basic emergency care that is provided to an ill or injured person.
                    
                </div>
                
                <div class="item item-text-wrap">
                    
                    <p><b>The three objectives of first aid is to:</b></p><br/>
                    <img src="img/firstaid.PNG" class="image-card padding-left padding-bottom padding-top" style="float:right;">
                    <p>1. Preserve life by providing first aid until more qualified help arrives,</p><br/>
                                                                        
                    <p>2. Prevent the illness or injury from becoming worse,</p><br/>
                          
                    <p>3. Promote recovery. </p>
                 </div>   
                    
            </div>
            
            <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Video Demonstration</div>
            
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/5poFeSPR8OI" frameborder="0" allowfullscreen></iframe>
            </div>
            
            
    </div>
                
          
                   
        
        <!--button icon to home view
        <p>
          <a class="button icon ion-home" href="#/tab/home"> Home</a>
        </p>
          -->
          
    </ion-content>
</ion-view>
