<ion-view title="L'ABC - Réanimation">

    <ion-content>
    
        <div class="card">
            <img src="img/firstaidbannerfr.PNG"  style="width:100%;">
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">Les soins de base = L'ABC </div>
            <div class="item item-text-wrap">
                
                <p><b>Air: </b>l'air doit passer librement et sans obstruction dans les voies respiratoires et en quantité suffisante pour assurer une bonne ventilation</p><br/>
                <p><b>Bouche à bouche (respiration): </b>l'air acheminé dans les poumons doit assurer une ventilation et une oxygénation adéquates</p><br/>
                <p><b>Circulation: </b>Compression et les signes de circulation: couleur, texture, température de la peau</p><br/>
                <p><b>Défibrillateur: </b>Utiliser un défibrillateur externe automatisé</p>
                <hr/>
                
                <p><span class="number">1</span> <b>Soyez prudent:</b> ne vous aventurez pas dans des situations dangereuses à moins de les avoir rendues plus sécuritaires;</p><br/>
                <p><span class="number">2 </span><b>Restez calme:</b>  ne paniquez pas;</p><br/>
                <p><span class="number">3 </span><b>Assumez la coordination:</b> soyez sûr de vous-même et montrez de la compassion envers la victime;</p><br/>
                
                <p><span class="number">4 </span><b>Cherchez</b> des témoins qui pourraient vous informer de ce qui s'est produit et de ce qui a causé la blessure ou la maladie;</p><br/>
                <p><span class="number">5 </span><b>Déterminez</b> l'état de conscience de la victime en l’appelant à haute voix et en lui secouant légèrement les épaules;</p><br/>
                <p><span class="number">6 </span><b>Demandez de l'aide ! Appelez le 911;</b></p><br/>
                
                <p><span class="number">7 </span><b>Vérifiez les voies respiratoires</b> en vous assurant que l'air passe par la bouche;</p><br/>
                
                <p><span class="number">8 </span><b>Vérifiez les signes de circulation</b> (couleur et température de la peau);</p><br/>
                
                <p><span class="number">9 </span><b>Vérifiez si la victime saigne;</b>arrêter l'hémorragie grave;</p><br/>
                
                <p><span class="number">10 </span><b>Traitez l’état de choc</b> et placez une couverture sur la personne blessée.</p><br/>
                
            </div>
        </div>
    
    
    
    </ion-content>


</ion-view>