<ion-view title="L'ABC - Réanimation">

    <ion-content>
    
        <div class="card">
            <img src="img/firstaidbannerfr.PNG"  style="width:100%;">
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">Que faire en cas d'urgence ? </div>
            <div class="item item-text-wrap">
                
                <p>1. <b>Soyez prudent:</b> ne vous aventurez pas dans des situations dangereuses à moins de les avoir rendues plus sécuritaires;</p><br/>
                <p>2. <b>Restez calme:</b>  ne paniquez pas;</p><br/>
                <p>3. <b>Assumez la coordination:</b> soyez sûr de vous-même et montrez de la compassion envers la victime;</p><br/>
                
                <p>4. <b>Cherchez</b> des témoins qui pourraient vous informer de ce qui s'est produit et de ce qui a causé la blessure ou la maladie;</p><br/>
                <p>5. <b>Déterminez</b> l'état de conscience de la victime en l’appelant à haute voix et en lui secouant légèrement les épaules;</p><br/>
                <p>6. <b>Demandez de l'aide ! Appelez le 911;</b></p><br/>
                
                <p>7. <b>Vérifiez les voies respiratoires</b> en vous assurant que l'air passe par la bouche;</p><br/>
                
                <p>8. <b>Vérifiez les signes de circulation</b> (couleur et température de la peau);</p><br/>
                
                <p>9. <b>Vérifiez si la victime saigne;</b>arrêter l'hémorragie grave;</p><br/>
                
                <p>10. <b>Traitez l’état de choc</b> et placez une couverture sur la personne blessée.</p><br/>
                
            </div>
        </div>
    
    
    
    </ion-content>


</ion-view>