<ion-view title="Étouffement chez l’adulte">
    
    <ion-content>
    
    <div class="card">
        
        <div class="item item-divider item-text-wrap card-divider text-center">Étouffement chez l’adulte</div>
        <div class="item item-text-wrap">
            
        <img src="img/choking.PNG" class="image-card padding-right padding-bottom" style="float:left">
        
        <p> Une obstruction des voies respiratoires signifie que le passage d'air est compromis et que l’obstruction ne permet pas à l'air de passer            librement jusqu’aux poumons. Une obstruction peut bloquer le passage d'air de façon partielle ou complète
        </p>
            
        </div>
        
    </div>
        
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">
        
        Signes et symptomes
            
        </div>
        
        <div class="item item-text-wrap">
            
            <div class ="row">
            <div class="col"><p>• Visiblement stressé</p></div>
            <div class="col"><p>• Incapable de parler</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Respiration difficile</p></div>
            <div class="col"><p>• Cherche son souffle;</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Respiration sifflante</p></div>
            </div>

        </div>
        
    </div>
        
    <div class="card">
        <div class="item item-divider item-text-wrap text-center card-divider">
        Premiers soins
        </div>
        
        <div class="item item-text-wrap">
            <p><b>1. Demandez “Est-ce-que ça va?”"</b></p>
            <p>Si la personne fait signe que non…Demandez de l‘aide et appelez le 911</p><br/>
            <p><b>2. Débloquage</b></p>
            
                <div class="text-center item-text-wrap">
                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking1.PNG" class="image-card"><p>Donnez cinq tapes sur le dos</p> </div>
                        <div class="col"><p>B.</p><img src="img/choking2.PNG" class="image-card"><p>Donnez cinq  poussée abdominales</p></div>
                    </div>
                </div>

                <div class="item text-center item-text-wrap"><h2 class="title">Options pour La Femme enceinte:</h2>

                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking1.PNG" class="image-card"><p>Donnez cinq tapes sur le dos</p></div>
                        <div class="col"><p>B.</p><img src="img/choking3.PNG" class="image-card"><p>Donnez cinq poussées thoraciques</p></div>
                    </div>

                </div>

                <div class="text-center item-text-wrap"><h2 class="title"><br/>D'autre options:</h2>

                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking4.PNG" class="image-card"><p>Donnez des poussées thoraciques si la victime est                                           en fauteil roulant </p> </div>
                        <div class="col"><p>B.</p><img src="img/choking5.PNG" class="image-card"><p>ou Donnez des poussées thoraciques si la victime                                                est assise sur une chaise </p></div>
                    </div>

                </div>

                 <div class="text-center item-text-wrap">

                    <div class="row">
                        <div class="col"><p>C.</p><img src="img/choking6.PNG" class="image-card"><p>Utilisez une chaise si vous êtes seul</p> </div>

                    </div>

                </div>
            <br/>
            
            <p><b>3.</b>Il est important d’évaluer les voies respiratoires d’une victime consciente pour le risque d’infection et d’enflure                                     respiratoire.</p>
        
        </div>
    </div>
        
    <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Video Demonstration</div>
            
        <video poster="img/choking.PNG" width="100%" preload="metadata" controls webkit-playsinline>
                <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" ></source>
        Your browser does not support html5 video
            </video>
            </div>
            
    </ion-content>

</ion-view>