<ion-view view-title="Asthme" >
    
    <ion-content>
        
        <div class = "card">
        
                <div class="item item-text-wrap">
                    <img src="img/asthmaavatar.PNG" class="image-card padding-right padding-bottom" style="float:left;">
                    <p>Le terme «asthme» provient du mot grec qui veut dire «haleter» ce qui décrit
                        bien la personne qui essaie de trouver son souffle. L'asthme se compare aussi
                        a une maladie d'hypersensibilité semblable aux réactions allergiques. On note
                        que les voies respiratoires (bronches, bronchioles et trachée) réagissent plus
                        facilement à des stimuli environnementaux.</p>
            
                </div>
        </div>
            
                <div class = "card">
            
                    <div class = "item item-divider item-text-wrap text-center card-divider">
                        Signes et symptômes d’une crise d’asthme
                    </div>
                    
                    <div class="item item-text-wrap">
                    
                        <div class ="row">
                            <div class="col"><p>• Difficulté respiratoire subite et progressive</p></div>
                            <div class="col"><p>• Respiration bruyante avec sifflements</p></div>
                        </div>

                         <div class ="row">
                            <div class="col"><p>• Utilisation des muscles accessoires pour respirer</p></div>
                            <div class="col"><p>• Faiblesse et épuisement</p></div>
                        </div>

                        <div class ="row">
                            <div class="col"><p>• Teint bleuâtre des lèvres	</p></div>
                            <div class="col"><p>• Respiration rapide </p></div>
                        </div>

                        <div class ="row">
                            <div class="col"><p>• Peau moite et pâle</p></div>
                            <div class="col"><p>• Anxiété et peur</p></div>
                        </div>
                    
                    </div>   
                   
                </div>
        
        <!-- Astham with without an Inhaler section --> 
        <a href="" ng-click="jobClick1(showSteps1=!showSteps1)" style="text-decoration: none;">
            <div class = "card" > 
                
                  
                <div class="item item-divider item-text-wrap text-center card-divider">
                    <i class="icon ion-chevron-{{arrow}} white" style="float:left;" ></i><span style="color:white;" class="padding-left">Premiers soins(sans la pompe d’asthme)</span>
                

                </div>
               
                    <div class="item item-text-wrap" ng-show="showSteps1">

                        <p><span class="number">1 </span>Appelez le 911.</p><br/>
                        <p><span class="number">2 </span>Évaluez la personne.</p><br/>
                        <p><span class="number">3 </span>Faites asseoir la personne dans une position confortable et rassurez-la.</p><br/>
                        <p><span class="number">4 </span>Controlez la respiration.(Faites inspirer la personne par le nez et expirer par la bouche).</p><br/>
                        <p><span class="number">5 </span>Traitez l'état de choc.</p><br/>
                        
                    </div>
                
            </div>
        </a>
        <!-- Astham with Inhaler section --> 
        
         <a href="" ng-click="jobClick2(showSteps2=!showSteps2)" style="text-decoration: none;">
            <div class = "card">
                
                
                <div class="item item-divider item-text-wrap text-center card-divider">
                    <i class="icon ion-chevron-{{arrow2}} white" style="float:left;" ></i><span style="color:white;">Premiers soins (avec la pompe d’asthme)</span>
                
                </div>
                
                <div class="item item-text-wrap" ng-show="showSteps2">
                    
                    <img src="img/asthmaavatar1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                    <p><span class="number">1 </span>Secouez l’inhalateur et faites un essai pour expulser les poussières.</p><br/>                    
                    <p><span class="number">2 </span>Demandez à la personne d'expirer doucement et complètement.</p><br/>
                    <p><span class="number">3 </span>Demandez à la personne de prendre une grande inspiration pendant qu’elle appuit sur l’inhalateur pour administrer le médicament.</p><br/>
                    <img src="img/asthmaavatar2.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                    <p><span class="number">4 </span>Si la personne est capable, demander lui de retenir son souffle pendant 5 à 10 secondes pour permettre au médicament de bien s'infiltrer dans les poumons.</p><br/>
                    <p><span class="number">5 </span>Si la crise d’asthme continue, appelez le 911.</p>
                
                </div>
        
            </div>
        </a>
        
        
        
       
