<ion-view title="Hémorragies">

    <ion-content>
    
        <div class="card">
            
            <div class="item item-text-wrap">
            <img src="img/bleeding.PNG" class="image-card padding-right padding-bottom" style="float:left;">
                <p>Une perte de sang peut avoir plusieurs causes et si elle n'est pas maîtrisée, peut
                    conduire à un état de choc. Une hémorragie peut être interne ou externe.
                </p>   
            </div>
            
        </div>
        
        <div class="card">
                    
            <div class="item item-divider item-text-wrap text-center card-divider">
                Premiers soins:
            </div>
            
            <div class="item item-text-wrap">
            
                <p><span class="number">1 </span><b>Appliquez une pression directe sur la plaie </b> </p><br/>
                
                <p><span class="number">2 </span><b> Repos (asseoir ou coucher la victime) </b> </p><br/>
                
                <p><span class="number">3 </span><b>Rassurez la victime</b> </p>
                     
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider text-center">
            Saignement du nez
            </div>
            
            <div class="item item-text-wrap">
                <p><span class="number">1 </span>Faites asseoir la personne en lui demandant de pencher la tête
                    légèrement vers l'avant (pas en arrière puisque dans cette position,
                    le sang coulera vers l'arrière de la gorge, sera avalé et pourrait causer
                    un vomissement).
                </p><br/>
                
                <p><span class="number">2 </span> Pincez le nez afin de maîtriser le saignement.
                    Maintenez cette pression pendant au moins 5-10 minutes.
                    Ceci permettra la formation de caillots. Mettez de la glace sur le nez.</p><br/>
                
                <img src="img/bleeding1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                
                <p><span class="number">3 </span> Tenez un pansement sous les narines afin d'absorber le reste dusang qui s'écoulera.</p><br/>
                
                <p>Si le sang persiste pendant plus de 10-15 minutes, assurez le transport du blessé à l'hôpital.</p>
                
            </div>
        </div>

    </ion-content>

</ion-view>