<ion-view title="Blessures musculo-squelettiques">
    <ion-content>
        
        <div class="card">
                
                <div class="item item-text-wrap">
                    
                    <img src="img/boneandjoint.PNG" class="image-card padding-right padding-bottom" style="float:left">
                    <p>En général, ces blessures surviennent suite à des forces importantes qui sont appliquées au corps. Dans la
                        majorité des cas, les traumatismes qui en résultent causent des dommages aux os et aux muscles et ils sont
                        souvent associés avec des lacérations et des saignements.
                    </p>

                    <div class="row">
                    <div class="col"><p>• Entorse</p></div>
                    <div class="col"><p>• Foulure</div>
                    </div>

                    <div class="row">
                    <div class="col"><p>• Dislocation</p></p></div>
                    <div class="col"><p>• Fractures</p></div>  
                    </div>
                </div>
        </div>
        
        <div class="card">
        
            <div class="item item-divider item-text-wrap card-divider text-center">
            Le principe P.R.I.C.E.
            </div>
            
            <div class="item item-text-wrap">
                
            <p><span class="number">P </span>Protégez le membre de tout mouvement afin de prévenir d'autres dommages.</p><br/>
                <img src="img/boneandjoint1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <p><span class="number">R </span>  Gardez la personne au repos pour réduire le mouvement du membre. </p><br/>
                <p><span class="number">I </span>  Immobilisez la blessure afin de supporter le membre et prévenir d'autres dommages.</p><br/>
                <p><span class="number">C </span> Appliquez une <b>compresse</b> froide sur le site pour réduire l'enflure et la douleur.</p><br/>
                <p><span class="number">E </span>Élevez le membre (si possible) afin de diminuer le flux sanguin au site.</p>

            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider text-center card-header-green">
                <span style="color:red">Chaud</span> ou <span style="color:blue">froid ?</span>
            </div>
            
            <div class="item item-text-wrap">
                
            <p>•La réponse est le froid en premier et la chaleur plus tard pour les douleurs musculaires et les microtraumatismes.</p><br/>
                <img src="img/boneandjoint2.PNG" class="image-card padding-right padding-bottom" style="float:left;">
            <p>•Le quantité d'enflure ou le saignement dans le muscle (Déchirure des vaisseaux sanguins) peut être mieux géré au début en appliquant de la glace et maintenir le muscle blessé dans une position étirée.</p><br/>
            <p>•La chaleur peut être appliquée lorsque l'enflure a diminué dans les 48 heures localis.</p><br/>
            <p>•Attention, l'application rapide de la chaleur peut augmenter l'enflure et la douleur.</p>

            </div>
        </div>
<!--
    <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Vidéo</div>
            
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/rMcbL0XnJ5Y','_system', 'location=yes');return false;" >
                               <img src="img/boneandjointvid.PNG" > 
                                 <p><b>Fractures</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            
            </div>
-->
    </ion-content>

</ion-view>