<ion-view title="Blessures musculo-squelettiques">
    <ion-content>
        
        <div class="card">
                
                <div class="item item-text-wrap">
                    
                    <img src="img/boneandjoint.PNG" class="image-card padding-right padding-bottom" style="float:left">
                    <p>En général, ces blessures surviennent suite à des forces importantes qui sont appliquées au corps. Dans la
                        majorité des cas, les traumatismes qui en résultent causent des dommages aux os et aux muscles et ils sont
                        souvent associés avec des lacérations et des saignements.
                    </p>

                    <div class="row">
                    <div class="col"><p>• Entorse</p></div>
                    <div class="col"><p>• Foulure</div>
                    </div>

                    <div class="row">
                    <div class="col"><p>• Dislocation</p></p></div>
                    <div class="col"><p>• Fractures</p></div>  
                    </div>
                </div>
        </div>
        
        <div class="card">
        
            <div class="item item-divider item-text-wrap card-divider text-center">
            Le principe P.R.I.C.E.
            </div>
            
            <div class="item item-text-wrap">
                
            <p><b>P.</b>  Protégez le membre de tout mouvement afin de prévenir d'autres dommages.</p><br/>
                <img src="img/boneandjoint1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
            <p><b>R.</b>  Gardez la personne au repos pour réduire le mouvement du membre. </p><br/>
            <p><b>I.</b>  Immobilisez la blessure afin de supporter le membre et prévenir d'autres dommages.</p><br/>
            <p><b>C.</b>  Appliquez une <b>compresse</b> froide sur le site pour réduire l'enflure et la douleur.</p><br/>
            <p><b>E.</b>  Élevez le membre (si possible) afin de diminuer le flux sanguin au site.</p>

            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider text-center card-header-green">
                <span style="color:red">Chaud</span> or <span style="color:blue">Froid ?</span>
            </div>
            
            <div class="item item-text-wrap">
                
            <p>•La réponse est premier froid et chaleur plus tard pour les souches musculaires et microtraumatismes.</p><br/>
                <img src="img/boneandjoint2.PNG" class="image-card padding-right padding-bottom" style="float:left;">
            <p>•Le montant de gonflement ou de locaux de saignements dans le muscle (de la déchirure des vaisseaux sanguins) peut mieux être  géré au                   début en appliquant des packs de glace et maintenir le muscle tendu dans une position tendue.</p><br/>
            <p>•Chaleur peut être appliquée lorsque l'enflure a diminué dans les 48 h.</p><br/>
            <p>•Attention, application rapide de la chaleur peut augmenter l'enflure et la douleur.</p>

            </div>
        </div>
    
    <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Vidéo</div>
            
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/rMcbL0XnJ5Y','_system', 'location=yes');return false;" >
                               <img src="img/boneandjointvid.PNG" > 
                                 <p><b>Fractures</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            
            </div>
    
    </ion-content>

</ion-view>