<ion-view title="Brûlures">

    <ion-content>
        <div class="card">
           
            <div class="item item-text-wrap">
                <img src="img/burns.PNG" class="image-card padding-right padding-bottom" style="float:left;">
                <p>Une brûlure résulte d’un contact direct entre une source de chaleur et la peau. Elles sont généralement classifiées en terme de                      profondeur par rapport à la couche de peau qui a été affectée. Appelez le 911!. 
                </p></div>
            </div>  
            
        
        <div class="card">
            <div class="item item-divider item-text-wrap card-divider text-center">Degres de gravite:</div>
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p><b><span style="color:#669933">Premier degré :</span></b></p></div>
                    <div class="col"><p><b>(superficielle)</b> Ce type de brûlure affecte l'épiderme.</p></div>
                
                </div>
                
                <div class="row">
                    <div class="col"><p><b><span style="color:#669933">Deuxième degré :</span> </b></p></div>
                    <div class="col"><p><b>(partielle )</b> Ce type de brûlure affecte l'épiderme et une portion du derme </p></div>
                
                </div>
                
                <div class="row">
                    <div class="col"><p><b><span style="color:#669933">Troisième degré :</span></b></p></div>
                    <div class="col"><p><b>(complète)</b> Ce type de brûlure affecte toutes les couches de la peau jusqu'aux tissus sous-cutanés 
                    </p>
                    </div>
                
                </div>
                
                <div class="row">
                                       
                    <div class="col"><p><span class="number">1</span> Arrêtez tout processus de brûlure à la source.</p><br/>
                        <p><span class="number">2</span> Exposez le site pour bien visualiser la plaie en enlevant si possible tout</p><br/>
                        <p><span class="number">3</span> vêtement, bijoux ou substance du site de la brûlure.</p><br/>
                        <p><span class="number">4</span> La clé du traitement d'une brûlure est de prévenir l'infection avec des pansements stériles tout en irriguant la plaie                               avec de l’eau </p>
                    </div>
                
                </div>
        </div>
     </div>
        
        <div class="card">
        
            <div class="item item-divider card-divider text-center item-text-wrap">
            Soins d’urgence brûlure chimique
            </div>
            
            <div class="item item-text-wrap">
                <p><span class="number">1</span> Arrêtez tout processus de brûlure à la source.</p><br/>
                <p><span class="number">2</span> Exposez le site pour bien visualiser la plaie.</p><br/>
                <p><span class="number">3</span> Enlevez la poudre chimique.</p><br/>
                <p><span class="number">4</span> Enlevez le liquide chimique.</p>
            </div>
            
        </div>
    
        <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Vidéo</div>
            
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/sWfgeGRb41c','_system', 'location=yes');return false;" >
                               <img src="img/bleedingvid.PNG" > 
                                 <p><b>Brûlures</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            
            </div>
    
    </ion-content>


</ion-view>