<ion-view title="RCR – Réanimation Cardio Respiratoire">

    <ion-content>
    
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">Premiers soins: </div>
            
            <div class="item item-text-wrap">

                <div class="row">
                    <div class="col"><p>1. Vérifier le niveau de conscience</p> </div>
                    <div class="col"><img src="img/cpr.PNG" class="image-card"></div>
                </div>

                <div class="row">
                    <div class="col"><p>2. Appeler de l’aide et le 911, Chercher un DEA</p> </div>
                </div>

                <div class="row">
                    <div class="col"><p>3. Ouvrir les voies respiratoires et vérifier la respiration</p> </div>
                </div>

                <div class="row">
                    <div class="col"><p>4. Si la victime ne respire pas; Débuter la RCR pendant 2 minutes </p> </div>
                    <div class="col"><img src="img/cpr1.PNG" class="image-card"></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>5. 30 compressions : 2 ventilations (5 cycles)</p> </div>
                </div>
                
                <div class="row">
                    <div class="col"><p>6. Allumer le DEA – bouton ON</p> </div>
                    
                </div>
                
                 <div class="row">
                    <div class="col"><p>7. Selectionner et attacher les électrodes du DEA</p> </div>
                     <div class="col"><img src="img/cpr2.PNG" class="image-card"></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>8. Attendre pour les instructions (choc ou pas de choc)</p> </div>
                    
                </div>
                
                <div class="row">
                    <div class="col"><p>9. Choc avisé, pousser sur le bouton choc </p> </div>
                </div>
                
                <div class="row">
                    <div class="col"><p>10. Suivre les consignes du défibrillateur </p> </div>
                    <div class="col"><img src="img/cpr3.PNG" class="image-card"></div>
                </div>
                
            </div>
            
        </div>
        
        
        <!-------- First Video ------->
        <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Vidéo</div>
            
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/wC65cRD9OMU','_system', 'location=yes');return false;" >
                               <img src="img/cprvid1.PNG" > 
                                 <p><b>RCR chez l'adulte</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                      <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            
        <!-------- Second Video ------->
            
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/ZgRVTm_hJLU','_system', 'location=yes');return false;" >
                               <img src="img/cprvid2.PNG" > 
                                 <p><b>RCR chez l'enfant</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            
        <!-------- Third Video ------->
            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href=""              onClick="window.open('http://youtu.be/Jk45wpaOyvI','_system', 'location=yes');return false;" >
                               <img src="img/cprvid3.PNG" > 
                                 <p><b>RCR chez le nourrisson</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
        </div>
        
    </ion-content>

</ion-view>