<ion-view view-title="Les Définitions" >
    
    <ion-content>
                                                                
        <div class="card">
            
            <div class="item item-divider item-text-wrap card-divider">Les premiers soins</div>
            
            <div class="item item-text-wrap">
            <p>Soins d'urgence et le traitement à une personne blessée ou malade</p>
            </div>                                             
            
            <div class="item item-divider item-text-wrap card-divider">Le secouriste</div>
            
            <div class="item item-text-wrap">
              <p>Cette personne est le plus susceptible d'avoir une formation en secourisme et est la principale personne en charge du traitement. Cette personne sera également celui qui décide si une ambulance doit être appelé, et celui qui va diriger les ressources pour les premiers secours.</p>
            </div>
        
            <div class="item item-divider item-text-wrap card-divider">La causalité</div>
              
            <div class="item item-text-wrap"><p>La victime est une personne blessée ou malade qui a besoin des premiers soins immédiats et une aide médicale.</p></div>
                 
            <div class="item item-divider item-text-wrap card-divider"> L'Âge recommandé pour la réanimation</div>
            
            <div class="item item-text-wrap">
              <p><b>Adulte:</b> 8 ans + </p><br/>
              <p><b>Enfant:</b> 1 à 8 ans</p><br/>
              <p><b>Nourrisson:</b> nouveau-né  à 1 ans</p>
            </div>      
        </div>        
                  
    </ion-content>
</ion-view>