<ion-view title="Diabètes">

    <ion-content>
    
    <div class="card">
        <div class="item item-text-wrap">
            <p>Le diabète est une maladie qui résulte d'une défaillance de production d'insuline par le pancréas pour les besoins normaux de l'organisme. L'insuline est une hormone qui aide à régulariser le glucose (sucre) dans le corps et qui joue un rôle important dans la conversion du sucre en énergie.
            </p>
            <br/>
            <p><b>Diabètes type 1 </b> Cette maladie peut débuter tôt dans la vie (diabète juvénile), ce qui rend la
                personne dépendante de l'insuline par injection quotidienne.
            </p>
            <br/>
            
            <p><b>Diabètes  type 2 </b>elle peut se manifester plus tard en vieillissant (Diabète adulte).
            </p>
            <br/>
            
            <p>Un choc diabétique (trop d'insuline - pas assez de sucre) se développe rapidement et un coma diabétique (trop de sucre - pas assez d'insuline) se développe lentement. Cette information vous aidera peut-être à trouver la meilleure approche quant au traitement pour une personne qui manifeste des signes et des symptômes spécifiques.
            </p>
        
        </div>
    
    </div>
        
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">Signes et symptômes d’urgences diabétiques</div>
        
        <div class="item item-text-wrap">
        <h2><b><span style="color:#669933;">Hypoglycémie (Taux de sucre trop à la baisse)</span></b></h2><br/>
            <p>• Se développe très rapidement</p>
           <p>• Maux de tête et confusion</p>
           <p>• Faiblesse, tremblements et vertiges</p>
           <p>• Difficulté à articuler les mots</p>
           <p>• Apparence d’intoxication </p>
           <p>• Fatigue</p>
           <p>• Peut devenir aggressif</p>
           <p>• Peau moite, pâle et froide</p><br/>
        
        <h2><b><span style="color:#669933;">Hyperglycémie (Taux de sucre trop à la hausse)</span></b></h2><br/>
            <img src="img/diabetes.PNG" class="image-card" style="float:right;">
            <p>• Se développe lentement (heures)</p>
           <p>•	Soif  intense</p>
           <p>•	Nausées et vomissements</p>
           <p>•	Urination fréquente</p>
           <p>• Peau chaude et rougeâtre</p>
           <p>•	Douleur abdominale et fièvre</p>
           <p>•	Haleine de "fruit" ou de vernis à ongle</p>
           <p>•	Léthargique et comateux </p>

        </div>
        
    </div>
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">Premiers soins</div>
        
        <div class="item item-text-wrap">
            <img src="img/diabetes1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
        <p><b>Taux de sucre trop à la baisse:</b> Si la personne est alerte et capable d'avaler, donnez-lui un jus et ajoutez un peu de sucre. Appelez le 911. </p><br/>
        <p><b>Taux de sucre trop à la hausse:</b> Si la personne est alerte et capable de répondre, de lui aider avec l’insuline. Ne pas administrer l’insuline du patient. Le patient va s’injecter avec l'insuline. Appelez le 911.
        </p>

            
        </div>
        
    </div>
    
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">Identifier urgence diabétique</div>
            
            <div class="item item-text-wrap">
                <p><span class="number">1 </span>Patient conscient ou inconscient ?</p>
               <p><span class="number">2 </span>Êtes-vous diabétique?</p>
               <p><span class="number">3 </span>Prenez-vous des médicaments?</p>
               <p><span class="number">4 </span>Avez-vous manger récemment ?</p>  
            </div>
        </div>
        
    </ion-content>

</ion-view>