<ion-view view-title="Urgence" hide-back-button="true">
        
        <!-- Header bar with language button -->
        <ion-content has-header has-subheader>
            
            <ion-header-bar class="bar bar-header bar-light">
                    
                    <a class="button icon ion-earth button-light" style="color:#CC0000;"  href="#/tab/emergencies"> EN </a>
            </ion-header-bar>
            
            <br/>
           
        <!--List of menu items -->
            
            <ion-list class="padding">
                
                <ion-item class="item-icon-right" href="#/tab/strokesfr" >Accident cérébrovasculaire

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
            
                <ion-item class="item-icon-right" href="#/tab/asthmafr" >Asthme

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/boneandjointinjuriesfr" >Blessures musculo-squelettiques

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/burnsfr" >Brûlures

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/shockfr" >Choc

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/seizuresfr" >Convulsions

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/heartattackfr" >Crise cardiaque

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/diabetesfr" >Diabètes

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>


                <ion-item class="item-icon-right" href="#/tab/breathingemergenciessubfr" >Étouffement chez l’adulte et l’enfant 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/bleedingfr" >Hémorragies 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>


                <ion-item class="item-icon-right" href="#/tab/cprfr" >RCR

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/severeallergicreactionsfr" >Réactions allergiques 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item> 
                
            </ion-list>

        </ion-content>
      </ion-view>