<ion-view view-title="Urgence" >
    
        <ion-content has-header has-subheader>
            
            <ion-header-bar class="bar bar-header bar-light">
                    
                    <a class="button icon ion-earth button-light" style="color:#CC0000;"  href="#/tab/emergencies"> EN </a>
            </ion-header-bar>
            
            <br/>
           
            <ion-list class="padding">
            
                <ion-item class="item-icon-right" href="#/tab/asthma" >Asthme

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/bleeding" >Hémorragies 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/boneandjointinjuries" >Blessures musculo-squelettiques

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/breathingemergenciessub" >Étouffement chez l’adulte et l’enfant 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/burns" >Brûlures

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/cpr" >RCR

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/diabetes" >Diabètes

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>


                <ion-item class="item-icon-right" href="#/tab/heartattack" >Crise cardiaque

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/seizures" >Convulsions

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/severeallergicreactions" >Réactions allergiques 

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
                
                <ion-item class="item-icon-right" href="#/tab/shock" >Choc

                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>

                <ion-item class="item-icon-right" href="#/tab/strokes" >Strokes

                    <i class="icon ion-chevron-right icon-accessory"></i>Accident cérébrovasculaire

                </ion-item>
                
            </ion-list>

        </ion-content>
      </ion-view>