<ion-view title="La loi du bon Samaritan">

    <ion-content>
    
        
        <div class="card">
            <div class="item item-text-wrap item-divider card-divider">
                "Agissez……"
                
            </div>
            <div class="item item-text-wrap">
                <p><b>Définition</b></p>
               
                <p class="quote">1.  La définition qui suit s’applique à la présente loi.
                    <br>
«professionnel de la santé» Membre de l’ordre d’une profession de la santé visée à l’annexe 1 de la Loi de 1991 sur les professions de la santé réglementées.
</p>
                <br>
                <p><b>Immunité</b></p>
                <p class="quote">2.  (1) Malgré les règles de common law, la personne mentionnée au paragraphe (2) qui, de façon bénévole et sans espérer raisonnablement de dédommagement ou de récompense, fournit les services visés à ce paragraphe, n’est pas responsable des dommages qui résultent de sa négligence dans les actes qu’elle commet ou qu’elle omet de commettre lorsqu’elle fournit les services visés, à moins qu’il ne soit établi que les dommages ont été causés à la suite d’une négligence grave de la personne.</p>
                <br>
                
                <p><b>Personnes concernées</b></p>
                <p class="quote">(2)  Le paragraphe (1) s’applique aux personnes suivantes :
                    <br><br>
a) le professionnel de la santé qui fournit des services de soins de santé d’urgence ou une aide en matière de premiers soins en cas d’urgence à une personne malade, blessée ou sans connaissance à la suite d’un accident ou d’une autre situation d’urgence, s’il ne fournit pas ces services ou cette aide à un hôpital ou à un autre lieu doté des installations et des équipements de soins de santé convenant à cette fin;
                    <br><br>
b) la personne physique, qui n’est pas un professionnel de la santé mentionné à l’alinéa a), qui fournit une aide en matière de premiers soins en cas d’urgence à une personne malade, blessée ou sans connaissance à la suite d’un accident ou d’une autre situation d’urgence, si elle fournit cette aide sur les lieux immédiats de l’accident ou de la situation d’urgence.
                    <br><br>
                    
Référence:<a href="#">www.e-law-gov.on.ca</a>
</p>
            </div>
        
        </div>

        
        <div class="card">
            
             <div class="item item-divider card-divider item-text-wrap text-center">
            Comment aigr? 
            </div>
            
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p>• Agisser de bonne foi</p></div>
                    <div class="col"><p>• Utilisez votre bon sens</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Identifiez-vous</p> </div>
                    <div class="col"><p>• Demandez la permission</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Offrez votre aide</p> </div>
                    <div class="col"></div>
                    
                </div>
               
            </div>
        </div>
        
        <div class="card">
        
            <div class="item item-divider item-text-wrap card-divider">
               Dans tous les cas, un secouriste qui a débuté les premiers soins et/ou RCR, devrait continuer jusqu’à ce que:
            </div>
            
            <div class="item item-text-wrap">
                <p>• Le pouls(1), les signes de circulation et la respiration de la victime ont été rétablis;</p><br/>
                <p>• Les soins de la victime ont été délégués à un autre intervenant qualifié qui peut continuer la RCR et le DEA;</p><br/>
                <p>• Les soins de la victime ont été délégués aux SMU;</p><br/>
                <p>• Les soins de la victime ont été délégués à un médecin;</p><br/>
                <p>• Le secouriste est épuisé ou sa vie est en danger.</p>
            </div>
        
        </div>

    
    </ion-content>


</ion-view>