<ion-view title="Le bon samaritain">

    <ion-content>
    
        <div class="card">
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p>• Agisser de bonne foi</p></div>
                    <div class="col"><p>• Utilisez votre bon sens</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Identifiez-vous</p> </div>
                    <div class="col"><p>• Demandez la permission</p> </div>
                   
                </div>
                
                <div class="row">
                    <div class="col"><p>• Offrez votre aide</p> </div>
                    <div class="col"></div>
                    
                </div>
               
            </div>
        
            <div class="item item-divider item-text-wrap card-divider">
               Dans tous les cas, un secouriste qui a débuté les premiers soins et/ou RCR, devrait continuer jusqu’à ce que:
            </div>
            
            <div class="item item-text-wrap">
                <p>• Le pouls(1), les signes de circulation et la respiration de la victime ont été rétablis;</p><br/>
                <p>• Les soins de la victime ont été délégués à un autre intervenant qualifié qui peut continuer la RCR et le DEA;</p><br/>
                <p>• Les soins de la victime ont été délégués aux SMU;</p><br/>
                <p>• Les soins de la victime ont été délégués à un médecin;</p><br/>
                <p>• Le secouriste est épuisé ou sa vie est en danger.</p>
            </div>
        
        </div>

    
    </ion-content>


</ion-view>