<ion-view title="Crise cardiaque">

    <ion-content>
        <div class="card">
        
            <div class="item item-text-wrap">
            <p>Quand l'oxygène au coeur est diminué durant une longue période, le dommage au myocarde (muscle du coeur)
                devient irréversible. Les cellules cardiaques qui sont affectées meurent et le coeur endommagé pompe progressivement moins bien.
            </p>
            </div>
        
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">
            Signes et symptômes d'une crise cardiaque
            </div>
            
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col"><p>• Sensation de douleur dans la poitrine derrière le sternum</p></div>
                    <div class="col"><p>• Sensation d'écrasement et pression dans la poitrine</p></div>
                </div>
        
                <div class="row">
                    <div class="col"><p>• Nausées, indigestion et brûlements d'estomac</p></div>
                    <div class="col"><p>• Vomissement</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Douleur qui irradie (au cou, aux bras, au dos et à la machoire)</p></div>
                    <div class="col"><p>• Peur et anxiété</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Sueurs, peau moite et froide</p></div>
                    <div class="col"><p>• Sentiment de fatigue et de faiblesse</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• À bout de souffle</p></div>
                    <div class="col"><p>• Refus d’admettre les symptômes: NIER !</p></div>
                </div>

            </div>
        </div>
    
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">
            Signes et symptômes d'une crise cardiaque - Différent chez la femme

            </div>
            
            <div class="item item-text-wrap">
                
                <p>Jusqu’à 43% des femmes ne se plaint pas de douleur à la poitrine et sont suscitibles d’éprouver des symptômes vagues tels que l’essouflement, fatigue inhabituelle et les troubles de sommeil. </p><hr/>
                
                <div class="row">
                    <div class="col"><p>• Les symptômes de la crise cardiaque  chez la femme sont:</p></div>
                    <div class="col"><p>• Peau moite</p></div>
                </div>
        
                <div class="row">
                    <div class="col"><p>• Vertiges, fatigue ou faiblesse soudaine</p></div>
                    <div class="col"><p>• Pouls très rapide</p></div> 
                </div>

                <div class="row">
                    <div class="col"><p>• Anxiété</p></div>
                    <div class="col"><p>• Estomac ou douleur abdominale</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Nausées et vomissements</p></div>
                    <div class="col"><p>• Enflure des pieds, chevilles et bas des jambes</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>• Douleur dans la mâchoire inférieure</p></div>
                    <div class="col"><p>• Douleur ou inconfort dans le dos, habituellement le long de la ligne de soutien-gorge</p></div>
                </div>

            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider text-center item-text-wrap">
            Soins d’urgence
            </div>
            
            <div class="item item-text-wrap">
                <img src="img/heartattack.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <p><span class="number">1 </span>Évaluez l'ABC</p><br/>
                <p><span class="number">2 </span>Appelez le 911</p><br/>
                <p><span class="number">3 </span>Demandez à la personne de s'asseoir dans une position confortable.</p><br/>
                <p><span class="number">4 </span>Demandez à la personne de mâcher deux pillules de 81mg d’Aspirine® et prendre une nitroglycérine.(1)</p><br/>
                <p><span class="number">5 </span>Rassurez la personne; <b>(1)</b></p>
                <p><span class="number">6 </span>Traitez l'état de choc.</p><br/><hr>
                
                
                <p class="text-center"><b><span style="color:#669933;">Poser les questions suivantes ?</span></b></p><br/>
                <p>• Où se situe la douleur ? Intensité de la douleur (1 à 10)</p><br/>
                <p>• Dernier repas (indigestion) ? Des antécédents médicaux</p><br/><hr>
                
                <p><b>Avertissement (1):</b></p>
                <p class="quote">1. (1) Donnez cette Aspirine® ou la nitroglycérine sous recommendation d’un médecin. Ne donnez pas une Aspirine® à la victime                             allergique, asthmatique ou souffrant d’un AVC, d’ulcère ou d'un traumatisme crânien et ne donne pas de la nitroglycérine à une personne qui a pris un médicament de dysfonctionnement érectile dans les derniers 48hrs.
                </p>
                
            </div>
        
        </div>
    
    
    </ion-content>



</ion-view>