<ion-view view-title="First Aid by CGET" hide-back-button="true">
        <ion-content >
            
            <!-- Header bar for language change / Padding isn't working, therefore using br instead--> 
            
            <ion-header-bar class="bar bar-header bar-light">
                    <a class="button icon ion-earth button-light" style="color:#CC0000;" href="#tab/home"> EN </a>
            </ion-header-bar>
            
            <br/>
            <br/>
            
            <!-- Home page banner slidebox --> 
            
           <div class="card">
                <ion-slide-box auto-play="true" does-continue="true" show-pager="false">
                        <ion-slide>
                            <img src="img/homepage.PNG" style="width:100%" >
                        </ion-slide>
                        <ion-slide>
                            <a href="#/tab/abc"><img src="img/firstaidbanner.PNG" style="width:100%" ></a>
                        </ion-slide>
                        
                </ion-slide-box>
            </div>
            
            <!-- Menu options --> 
            
          <ion-list class="card">
              
            <ion-item class="item-icon-right" href="#/tab/warningfr">Avertissement
                
                <i class="icon ion-alert"></i>
                
            </ion-item>
            
            
            <ion-item class="item-icon-right" href="#/tab/whatisfirstaidfr" >Les premiers soins
            
                <i class="icon ion-medkit"></i>
            
            </ion-item>
            
            <ion-item class="item-icon-right" href="#/tab/goodsamaritanfr" >Le bon Samaritain
            
                <i class="icon ion-happy"></i>
            
            </ion-item>
              
            <ion-item class="item-icon-right" href="#/tab/howwillireactfr" >Comment réagir dans une situation d'urgence

                    <i class="icon ion-help-buoy"></i>

            </ion-item>
               
            <ion-item class="item-icon-right" href="#/tab/definitionsfr" >Les Définitions
            
                <i class="icon ion-help"></i>
                
            </ion-item>   
        
            
        <!--
            <ion-item class="item-icon-right" href="#/tab/videos">Videos
            
                <i class="icon ion-social-youtube"></i>
            
            </ion-item> 
         -->
         </ion-list>
        
      <div class="text-center">
            
            
            </div>
            
        </ion-content>
      </ion-view>
