<ion-view title="Comment réagir dans une situation d'urgence?">

    <ion-content>
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">
            Le secouriste devrait:
            </div>
            
            <div class="item item-text-wrap">
            
                
            <p>• Assurez sa protection et sa sécurité ainsi que celle du blessé; </p><br/>
            <p>• Essayez de garder son calme;</p><br/>
            <p>• Prendre charge de la situation et demander de l’aide; </p><br/>
            <p>• Restez concentré sur les soins de base (ABC); </p><br/>
            <p>• Arrêtez toute hémorragie grave;</p><br/>
            <p>• Appelez le 911; </p><br/>
            <p>• Traitez l’état de choc.</p>
                
            </div>
            
            
        </div>
    
    
    </ion-content>

</ion-view>