<ion-view title="Comment réagir dans une situation d'urgence?">

    <ion-content>
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">
            Le secouriste devrait:
            </div>
            
            <div class="item item-text-wrap">
            
                
                <p><span class="number">1</span> Assurez sa protection et sa sécurité ainsi que celle du blessé; </p><br/>
                <p><span class="number">2</span> Essayez de garder son calme;</p><br/>
                <p><span class="number">3</span> Prendre charge de la situation et demander de l’aide; </p><br/>
                <p><span class="number">4</span> Restez concentré sur les soins de base (ABC); </p><br/>
                <p><span class="number">5</span> Arrêtez toute hémorragie grave;</p><br/>
                <p><span class="number">6</span> Appelez le 911; </p><br/>
                <p><span class="number">7</span> Traitez l’état de choc.</p>
                
            </div>
            
            
        </div>
    
    
    </ion-content>

</ion-view>