<ion-view title="Étouffement chez l'enfant">

<ion-content>
    
<div class="card">
        <div class="item item-divider item-text-wrap card-divider text-center">Étouffement chez le nourrisson (Obstruction)</div>
        
        <div class="item item-text-wrap">
            <img src="img/choking7.PNG" class="image-card padding-left padding-bottom" style="float:right">
            <p>Une obstructions des voies respiratoires signifie quelque chose bloque les voies respiratoires du nourrisson, ce qui empêche l’air de se déplacer. Un blocage peut partiellement ou complètement obstruer la circulation de l'air, et cela peut se produire soit lorsque la personne est consciente ou inconsciente. Une obstruction des voies aériennes est définie « étouffement
            </p>
        </div>
        
    </div>
        
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">
        
        Signes et symptômes d'étouffement
            
        </div>
            
        <div class="item item-text-wrap">
            
            <div class ="row">
            <div class="col"><p>• Lèvres bleutées et peau bleuâtre</p></div>
            <div class="col"><p>• Respiration bruyante </p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Détresse respiratoire</p></div>
            <div class="col"><p>• Panique</p></div>
            </div>

            <div class ="row">
            <div class="col"><p>• Toux faible</p></div>
            <div class="col"><p>• Détresse respiratoire</p></div>
            </div>
            
        </div>
    </div>
    
    <div class="card">
        <div class="item item-divider item-text-wrap text-center card-divider">
        Premiers soins
        </div>
        
        <div class="item item-text-wrap">
            <p><span class="number">1 </span> <b>Demandez de l’aide</b></p>
            <p>Si quelqu’un se présente, dites-lui d’appeler le 911. Si vous êtes seul, débutez la réanimation.</p><br/>
            <p><span class="number">2 </span> <b>Dégagez l’obstruction</b></p>
            
                <div class="text-center item-text-wrap">
                    <div class="row">
                        <div class="col"><p>A.</p><img src="img/choking8.PNG" class="image-card"><p>Donnez 5 tapes sur le dos</p> </div>
                        <div class="col"><p>B.</p><img src="img/choking9.PNG" class="image-card"><p>Donnez 5 poussées thoraciques</p></div>
                    </div>
                </div>
        </div>
    </div>
    
 
</ion-content>
    
</ion-view>