<ion-view title="Convulsions">

    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <p>Une convulsion, ou une crise d'épilepsie, résulte d'une décharge massive et mal coordonnée de l'activité «électrique» des neurones                   du cerveau. Certaines personnes sont plus susceptibles que d'autres à cause de problèmes qui résultent de maladies, d'infections,                       d'hypersensibilité dans un endroit du cerveau.
                </p>
                
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            Signes et symptômes d’une convulsion
            </div>
            
            <div class="item item-text-wrap">
            <p>Plusieurs personnes souffrant d'épilepsie peuvent prédire, dans les moments avant l'événement, qu'ils auront une crise. Ils ont souvent                  une sensation de malaise, de vertige et un goût ou une odeur bizarre.
            </p>
            <hr/>
                
                <div class="row">
                    <div class="col"><p>• Un petit cri avant le début des contractions.</p></div>
                    <div class="col"><p>• Raidissement des muscles du corps.</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Perte de conscience</p></div>
                    <div class="col"><p>• Contractions saccadées des muscles.</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Contractions spastiques du diaphragme.</p></div>
                    <div class="col"><p>• Respiration haletante et irrégulière</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Écume à la bouche.</p></div>
                    <div class="col"><p>• Incontinence d'urine.</p></div>
                </div>
                
                <div class="row">
                    <div class="col"><p>• Blank stare</p></div>
                    <div class="col"><p></p></div>
                </div>
                
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            Soins d’urgence
            </div>
            
            <div class="item item-text-wrap">
                <p>• Si vous avez suffisamment de temps avant la convulsion, faites coucher la personne;</p><br/>
                 <p>• Détachez les vêtements serrés;</p><br/>
                 <p>• Protégez la personne pour qu'elle ne se blesse pas en supportant la tête;</p><br/>
                 <p>• Évaluez la respiration avant et, si possible, après;</p><br/>
                 <p>• Ne jamais placez ou insérez quelque chose dans la bouche;</p><br/>
                 <p>• Après la convulsion, placez la personne en position latérale de sécurité;</p><br/>
                 <p>• Couvrez la personne d'une couverture;</p><br/>
                 <p>• Rassurez la personne et évitez tout stimulus fort et lumineux.</p><br/>
                 <p>• Check for medical bracelet.(casualty medical history</p><br/>
                 <p>• Appelez le 911 </p>
            </div>
        
        </div>

    </ion-content>
</ion-view>