<ion-view title="Réactions allergiques (choc anaphylatique)">

    <ion-content>
    
    <div class="card">
        <div class="item item-text-wrap">
        <p>Une réaction allergique est un mécanisme de protection normal de l'organisme qui sert à contrer les invasions d'une maladie ou d'une infection. À l'autre extrémité, une réaction anaphylactique se manifeste très rapidement
lorsqu'une personne est mise en contact avec un allergène (substance qui cause une réaction) qui avait déjà sensibilisé le système immunitaire de l'organisme.
        </p>
        </div>
        
    </div>
        
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">
        Signes et symptômes d’une réaction allergique sévère
        </div>
        
        <div class="item item-text-wrap">
            
            <div class="row">
                <div class="col"><p>• Peau rouge avec picotements</p></div>
                <div class="col"><p>• Enflure des lèvres, de la langue, des paupières ou du visage</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Démangeaisons</p></div>
                <div class="col"><p>• Difficulté respiratoire</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Pouls rapide et bondissant</p></div>
                <div class="col"><p>• Maux de tête</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Crampes abdominales et diarrhée</p></div>
                <div class="col"><p>• Vomissements </p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Peur et anxiété</p></div>
                <div class="col"><p>• Étourdissements</p></div>
            </div>
            
            <div class="row">
                <div class="col"><p>• Perte de conscience</p></div>
                <div class="col"><p></p></div>
            </div>
            
        </div>
        
        
    </div>
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">
        Soins d’urgence
        </div>
        
        <div class="item item-text-wrap">
            
            <img src="img/severeallergicreactions.PNG" class="image-card padding-left padding-bottom" style="float:right;">
            <p><span class="number">1 </span>Obtenez l'aide de quelqu'un immédiatement !</p><br/>
            <p><span class="number">2 </span>Vérifiez l'état de conscience.</p><br/>
            <p><span class="number">3 </span>Vérifiez les voies respiratoires.</p><br/>
            <p><span class="number">4 </span>Trouvez l'épinéphrine ou autre médicament utilisé par la personne.</p><br/>
            <p><span class="number">5 </span>Administrez l'épinéphrine selon les directives</p><br/>
            <p><span class="number">6 </span>Vérifiez la respiration. </p><br/>
            <p><span class="number">7 </span>Appelez le 911.</p>
            

        </div>
        
    </div>
        
    <div class="card">
        <div class="item item-divider card-divider item-text-wrap text-center">
        Administration de l’auto-injecteur
        </div>
        
        <div class="item item-text-wrap">
            
            <img src="img/severeallergicreactions1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
            
            <p><span class="number">1 </span>Tenez l'auto-injecteur fermement dans la main en prenant garde de ne pas mettre le doigt ou le pouce près du bout noir</p><br/>
            <p><span class="number">2 </span>Enlevez le bouchon gris de sécurité</p><br/>
            <p><span class="number">3 </span>Trouvez l'endroit de la cuisse pour donner l'injection</p><br/>
            <p><span class="number">4 </span>D'une distance d'environ 1 à 2 pouces, enfoncez le bout noir dans la cuisse (vous entendrez un «clic» lorsque l'aiguille est sortie)                  </p><br/>
            <p><span class="number">5 </span>Gardez en place pendant 10 secondes</p><br/>
            <p><span class="number">6 </span>Après avoir donné l'injection, gardez la personne au chaud et évitez toutes activités</p><br/>
            <p><span class="number">7 </span>Massez l’endroit de l’injection pendant 10 secondes</p><br/>
            <p><span class="number">8 </span>Remettez l’auto-injecteur dans son contenant</p><br/>
            
            <p>Cette drogue, qui peut sauver la vie d'une victime, permet d'atténuer les symptômes de façon temporaire pour que la personne puisse                      être transportée à l'hôpital. </p><br/>
            <p><b><i>Dosage adulte: 0.3 mg d'epinephrine</i></b></p>
            <p><b><i>Dosage enfant: 0.15 mg d'epinephrine</i></b></p>


        </div>
        
    </div>
    
    </ion-content>

</ion-view>