<ion-view title="Premiers soins pour état de choc, évanouissement et inconscience">

    <ion-content>
    
        <div class="card">
        
            <div class="item item-text-wrap">
            <p class="text-center"><span style="color:#669933;"><b>Évaluation des lieux</b></span></p><br/>
                
            <p >• Vérifiez le niveau de conscience et appelez le 911.</p><br/><hr/>
            
            
            
            <p class="text-center"><span style="color:#669933;"><b>Évaluation Primaire</b></span></p><br/>
                
            <p>• Évaluez l’ABC's</p><br/>
            <p>• Si le blessé saigne, arrêtez tout saignement grave.</p>
            </div>
        </div>
                
            <div class="card">
                
            <div class="item item-divider card-divider item-text-wrap text-center">Évaluation et traitement</div>
            
            <div class="item item-text-wrap">
            <p>1. Traitez la cause de l'état de choc.</p><br/>
            <p>2. Cherchez pour un bracelet médicale.</p><br/>
            <p>3. Réconfortez et rassurez la personne.</p><br/>
            <p>4. Couvrez le blessé et le gardez-le au chaud</p>
            <p>5. Si la personne blessée est inconsciente, placez-la dans la position</p>
            <p>6. latérale de sécurité </p>
            <hr/>
                
            <p><b>Placer la victime en position de récupération si :</b></p><br/>
                
            <p>• Victime inconsciente respire et  aucune blessures graves ne sont pas soupçonnés.</p><br/>
            <p>• Respiration est bruyante.</p><br/>
            <p>• Victime vomit.</p><br/>
            <p>• Victime saigne de la bouche.</p><br/>
            <p>• Vous devez laisser le blessé pour appeler le 911 ou obtenir de l'aide.</p>
            
            </div>
            
        </div>
        
        <div class="card">
            
            <div class="item item-divider card-divider item-text-wrap text-center">
            Étapes pour placer la victime en position de recouvrement :
            </div>
            
            <div class="item item-text-wrap">
                <img src="img/shock.PNG" class="banner-card"><br/><br/>
                <p>1. Prenez d'abord le bras de la victime qui se trouve le plus près de vous et placez-le sous sa tête. </p><br/>
                <p>2. Tirez l'autre bras afin de le placer sur sa poitrine.</p><br/>
                <p>3. Ensuite, levez la jambe opposée au bras sous la tête en la pliant au genou. </p><br/>
                <p>4. Placez votre main pardessus ce genou et avec votre autre main, supportez légèrement la tête de la victime. </p><br/>
                <p>5. Maintenant, tirez le genou de la victime vers vous. </p>
                <p>6. La victime se retrouvera sur le côté, la tête près du sol et se reposant sur son bras.</p>
            </div>
            
        </div>
    
    </ion-content>

</ion-view>