<ion-view title="Accident cérébrovasculaire (AVC)">
    <ion-content>
        <!-- First Card Intro -->
        <div class="card">
            <div class="item item-text-wrap">
            <p>Un accident vasculaire cérébral (AVC) résulte d'une réduction ou d'un blocage complet de sang au cerveau ou à une de ses structures. Il y a plusieurs causes d'AVC,  bien quelles puissent être attribuées à une rupture d'un vaisseau (anévrisme) ou à une occlusion (caillot) d'un vaisseau sanguin du cerveau. Telles les cellules cardiaques, quand le flux sanguin au cerveau est compromis, ces cellules sont aussi endommagées, ce qui cause des altérations dans le fonctionnement du cerveau.
            </p>
            </div>
        </div>
        
        <!-- Second Card Signs and Symptons -->
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
           Signes et symptômes (CVA)
            </div>
            
            <div class="item item-text-wrap">
                <img src="img/strokes.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <br/>
                <p>• Engourdissement du visage sur un côté  </p>
                <p>• Faiblesse et sensation de picotement dans le bras  </p>
                <p>• Trouble temporaire de la parole </p>
                <p>• Demandez de l’aide</p>
            
            </div>
        
        </div>
        
        <!-- Third Card First Aid instructions -->
        
        <div class="card">
            <div class="item item-divider card-divider item-text-wrap text-center">
            Premiers soins 
            </div>
            
            <div class="item item-text-wrap">
            <p>• Évaluez l'ABC;</p><br/>
            <p>• Appelez le 911;</p><br/>
                
                <img src="img/strokes1.PNG" class="image-card padding-left padding-bottom" style="float:right;">
                <p>• Demandez à la personne de s'asseoir dans une position qui est la plus confortable pour elle.</p><br/>
                <p>• Demandez à la personne de sourire et de serrer les deux mains. Demandez-lui de toucher son nez avec un doigt de chaque main, une                       à la fois pour évaluer la coordination;
                </p><br/>
                <p>• Traitez l'état de choc</p>
            </div>
        </div>
    
    </ion-content>



</ion-view>