<ion-view view-title="Avertissement" >
    
    <ion-content>
            
            <div class="card">
            
                <div class="item item-text-wrap">
                    <p>Les interventions et techniques décrites dans ce manuel ne doivent être employées
                        que par ceux et celles qui ont reçu une formation appropriée.</p>
                </div>
            </div>
          
            <div class="card">
                
                <div class="item item-text-wrap item-divider card-divider text-center">
                    Avis sur les procédures de soins
                </div>
            
                <div class="item item-text-wrap">
                    <p>En outre, nous ne pouvons être tenus
                        responsables des conséquences associées à
                        l'omission ou la mauvaise application d'une ou
                        des techniques d’interventions décrites.</p>
                    <br />
                    <p>Le cours de RCR et de secourisme auquel
                        vous participez exigera de votre part certains
                        efforts physiques. Si pour quelque raison vous
                        ne pouvez participer à certaines activités ou
                        qu'un médecin vous ait déconseillé de
                        participer à certaines activités, veuillez s'il
                        vous plaît nous aviser.</p>
                    <br />
                    <p>Par conséquent, nous ne pouvons être tenus
                        responsables des conséquences associées à
                        une blessure que vous pourriez subir durant
                        ou après votre cours de formation en RCR et
                        secourisme.</p>
          
                </div>
          <!--Button for home view
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            
          </p>
          
          -->
            </div>
            
    </ion-content>
</ion-view>