<ion-view view-title="Les premiers soins" >
              
    <ion-content >
             
            <div class="card">
                
                <div class="item item-divider item-text-wrap card-divider">
                    Les premiers soins sont les soins d'urgence de base qui est fourni à une personne malade ou blessé.
                    
                </div>
                
                <div class="item item-text-wrap">
                    
                    <p><b>Les trois objectifs de premiers secours:</b></p><br/>
                    <img src="img/firstaid.PNG" class="image-card padding-left padding-bottom padding-top" style="float:right;">
                    <p>1. Préserver la vie en fournissant des premiers soins en attendant plus d'aide qualifiée arrive,</p><br/>
                                                                        
                    <p>2. Prévenir la maladie ou de blessure ne se aggrave,</p><br/>
                          
                    <p>3. Favoriser la reprise. </p>
                 </div>   
                    
            </div>
            
            <div class="card">
            
            <div class="item item-divider card-divider item-text-center text-center">Video Demonstration</div>
            
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/-Y7ne7wpby8" frameborder="0" allowfullscreen></iframe>
            </div>
            
            
    </div>
          
    </ion-content>
</ion-view>