<ion-view view-title="Les premiers soins" >
              
    <ion-content >
             
            <div class="card">
                
                <div class="item item-divider item-text-wrap card-divider">
                    Les premiers soins sont les soins d'urgence de base qui est fourni à une personne malade ou blessé.
                    
                </div>
                
                <div class="item item-text-wrap">
                    
                    <p><b>Les trois objectifs de premiers secours:</b></p><br/>
                    <img src="img/firstaid.PNG" class="image-card padding-left padding-bottom padding-top" style="float:right;">
                    <p>1. Préserver la vie en fournissant des premiers soins en attendant plus d'aide qualifiée arrive,</p><br/>
                                                                        
                    <p>2. Prévenir la maladie ou de blessure ne se aggrave,</p><br/>
                          
                    <p>3. Favoriser la reprise. </p>
                 </div>   
                    
            </div>
            
    <div class="card">
        
        <div class="item item-divider card-divider item-text-wrap text-center">Vidéo</div>
        <ion-list>

            <ion-item  class="item item-thumbnail-left item-icon-right item-text-wrap" href="" onClick="window.open('http://youtu.be/-Y7ne7wpby8','_system', 'location=yes');return false;" >
                               <img src="img/introfirstaidvid.PNG" > 
                                 <p><b>l'introduction aux premiers soins</b></p>
                                    <p>Présenté par le groupe canadien de formation en secourisme inc.</p>
                                        <i class="icon ion-social-youtube-outline"></i>
            </ion-item>

        </ion-list>       
             
    </div>
          
    </ion-content>
    
</ion-view>