/* Empty. Add your own CSS if you like */
h2.subtitle {
    color: #669933;
    font-weight: bold;
}

.number{
    color: #669933;
    font-size: 19px;
    font-weight: 700;
    padding-right: 4px;
    font-family: cursive;
}

.no-border {
    border: none;
}

.icon-header {
    width: 40px;
    height: 38px;
}

.nav-bar {
    background-color: #003399;
    color: white;
}


.back-button{
    color: white !important;
}

/* Quote styling */
p.quote{
    color: #CC0000;
    font-family: serif;
    font-style: italic;
}


.card-header-green{
    background-color: #669933;
}

/* image styling */
.image-card{
    width: 120px;
    height: 120px;
    
}

.image-card-large{
    width:230px;
    height:120px;
    
}

.image-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.banner-card{
    width: 240px;
    height: 120px;
    width: 100%;
    
}

/* Card header in Green */
.card-divider{
    background-color: #669933;
    color: white;
}

i{
    color: #CC0000;
}

i.white{
    color: #fff;
}

i.green{
    color: #669933;
}

ion-item {
    
    text-align: left;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}